#title:focus, article:focus {
    outline:none;
}

.medium-insert-images-toolbar {
  display: none !important;
}

.hr-text {
  line-height: 1em;
  position: relative;
  cursor: pointer;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}
.hr-text:before {
  content: "";
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #000;
  background-color: #fcfcfa;
}

#post-toggleable-container .panel-body {
  padding-bottom: 0px;
}

#post-toggleable-container .panel-footer {
  padding-bottom: 0px;
  text-align: center;
  border: none;
  padding-top: 0px;
  background-color: #fff;
}

#post-toggleable-container.post-toggled .panel-body {
  padding-bottom: 15px;
}

#post-toggleable-container #editor-post-reference {
  color: #333;
  max-height: 30vh;
  overflow-y: hidden;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
}

#post-toggleable-container.post-toggled #editor-post-reference {
  max-height: 100vh;
}

#post-toggleable-container:not(.post-toggled) #editor-post-reference:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20em;
  left: 0;
  bottom: 0;
  background: linear-gradient(transparent 0, #fff);
  border-radius: 2px;
  z-index: 1;
  padding-left: 15px;
  padding-right: 15px;
}
