#title:focus, article:focus {
    outline:none;
}

.medium-insert-images-toolbar {
  display: none !important;
}

.hr-text {
  line-height: 1em;
  position: relative;
  cursor: pointer;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}
.hr-text:before {
  content: "";
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #000;
  background-color: #fcfcfa;
}

#post-toggleable-container .panel-body {
  padding-bottom: 0px;
}

#post-toggleable-container .panel-footer {
  padding-bottom: 0px;
  text-align: center;
  border: none;
  padding-top: 0px;
  background-color: #fff;
}

#post-toggleable-container.post-toggled .panel-body {
  padding-bottom: 15px;
}

#post-toggleable-container #editor-post-reference {
  color: #333;
  max-height: 30vh;
  overflow-y: hidden;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
}

#post-toggleable-container.post-toggled #editor-post-reference {
  max-height: 100vh;
}

#post-toggleable-container:not(.post-toggled) #editor-post-reference:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20em;
  left: 0;
  bottom: 0;
  background: linear-gradient(transparent 0, #fff);
  border-radius: 2px;
  z-index: 1;
  padding-left: 15px;
  padding-right: 15px;
}

h1, .h1, .medium-editor-element > h1, .medium-editor-element > .h1 {
  font-size: 22px;
  margin: 5px 0px 5px 0px;
}

h2, .h2, .medium-editor-element > h2, .medium-editor-element > .h2 {
  font-size: 20px;
  margin: 5px 0px 5px 0px;
}

h3, .h3, .medium-editor-element > h3, .medium-editor-element > .h3 {
  font-size: 18px;
  margin: 5px 0px 5px 0px;
}

h4, .h4, .medium-editor-element > h4, .medium-editor-element > .h1 {
  font-size: 16px;
  margin: 5px 0px 5px 0px;
}

h5, .h5, .medium-editor-element > h5, .medium-editor-element > .h5 {
  font-size: 14px;
  margin: 10px 0px 10px 0px;
}

h6, .h6, .medium-editor-element > h6, .medium-editor-element > .h6 {
  font-size: 12px;
  margin: 10px 0px 10px 0px;
}

p, .p, .medium-editor-element > p, .medium-editor-element > .p, .medium-editor-element.medium-editor-insert-plugin > .p {
  font-size: 15px;
  margin: 0 0 10px !important;
}
.modal-body,
.modal-body > p,
.medium-editor-element > p {
  font-size: 15px;
}

#publishModal .alert {
  padding: 5px;
  margin-bottom: 0px;
}

.opacity-0 {
  opacity: 0;
}

.mb-0 {
  margin-bottom: 0px;
}

.br-1 {
  border-right-width: 1px;
  border-right-style: solid;
}

.br-grey {
  border-right-color: #c5c5c5;
}

.bb-1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.bb-grey {
  border-bottom-color: #c5c5c5;
}

.bt-1 {
  border-top-width: 1px;
  border-top-style: solid;
}

.bt-grey {
  border-top-color: #c5c5c5;
}

.bl-1 {
  border-left-width: 1px;
  border-left-style: solid;
}

.bl-grey {
  border-left-color: #c5c5c5;
}

.b-red {
  border-color: #a94442 !important;
}

.b-2 {
  border-width: 2px !important;
}

.b-collapse {
  border-collapse: collapse;
}

.c-red {
  color: #a94442;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-vertical-center {
  align-items: center;
  justify-content: center;
}
.flex-vertical-end {
  align-items: flex-end;
}

.f-normal {
  font-weight: initial;
}

.h-100 {
  height: 100%;
}

.post-paid-section-preview-wrapper {
  border: 1px solid #c5c5c5;
  border-radius: 3px;
  padding: 0px;
}

.post-paid-section-preview-paid-section,
.post-paid-section-preview-free-section {
  font-weight: initial;
  padding: 0px 15px;
}

.post-paid-section-preview-paid-section {
  background-color: #ededed;
}

.post-paid-section-preview-free-section {}

.post-paid-section-arrows {
  margin-left: 15px;
  margin-right: -15px;
  min-height: 150px;
  padding: 0 20px;
}

.post-paid-section-arrows>.post-paid-section-up-arrow,
.post-paid-section-arrows>.post-paid-section-down-arrow {
  transition: font-size 0.2s;
}

.post-paid-section-arrows>.post-paid-section-up-arrow {
  position: absolute;
  top: 0;
}

.post-paid-section-arrows>.post-paid-section-up-arrow:hover,
.post-paid-section-arrows>.post-paid-section-down-arrow:hover {
  font-size: 16px;
}

.post-paid-section-arrows>.post-paid-section-down-arrow {
  position: absolute;
  bottom: 0;
}

.post-paid-section-linebreak {
  position: absolute;
  top: 42%;
  left: 23px;
}

.post-paid-section-preview-wrapper p {
  margin-bottom: 0px;
}