.clickable {
    cursor: pointer;
}

.showProfileTab {
    color: #999;
    text-decoration: none;
}

.showProfileTab:visited {
	text-decoration: none;
}

.profile-bio {
  overflow-wrap: break-word;
}

.btn a {
    color: inherit;
    text-decoration: none;
}
