<div class="card">
  <story-comment-card-header [comment]="comment"></story-comment-card-header>
  <story-comment-card-body [comment]="comment"></story-comment-card-body>
  <story-comment-card-actions [comment]="comment" (hasReplyClicked)="replyClicked()"></story-comment-card-actions>
  <story-comment-card *ngFor="let subComment of comment.userPosts" [comment]="subComment"></story-comment-card>
  <story-comment-editor *ngIf="shouldShowEditor" [parentStory]="comment"></story-comment-editor>
</div>
