<button (click)="togglePreview()" id="editor-preview-button" type="button" class="btn btn-sm btn-primary"
        placement="left"
        ngbTooltip="Preview Story">
  <fa-icon [icon]="['fas', 'eye']"></fa-icon>
</button>
<div class="row">
  <div class="col">
    <div id="editor" [ngStyle]="{'float': isPreviewEnabled ? 'right' : 'initial'}"></div>
    <div class="editor-placeholder" *ngIf="!story.bodyJSON || (story.bodyJSON && story.bodyJSON.length === 0)"
         [ngStyle]="{'float': isPreviewEnabled ? 'right' : 'initial'}">
      <small class="text-muted"><b>
        <fa-icon [icon]="['fas', 'exclamation-circle']"></fa-icon>&nbsp;Click above
        to write your story.</b></small>
    </div>
  </div>
  <div *ngIf="isPreviewEnabled" class="col story-body">
    <div
      [ngStyle]="{'float': isPreviewEnabled ? 'left' : 'initial'}"
      class="story-preview__wrapper"
      #bodyJSON
      *ngFor="let block of story.bodyJSON; let index = index;"
      [innerHTML]="convertBlockToHtml(block)">
    </div>
  </div>
</div>
