<header>
  <nav class="navbar justify-content-between fixed-top navbar-light navbar-expand bg-white">
    <a class="navbar-brand" href="/">
      <shared-honest-logo></shared-honest-logo>
    </a>
    <div *ngIf="user" id="navbar-menu" class="collapse navbar-collapse float-xs-none">
      <div class="navbar-nav ml-auto">
        <user-profile-menu></user-profile-menu>
      </div>
    </div>
    <div *ngIf="!user">
      <a class="btn btn-link btn-sm text-dark" [routerLink]="['/login']">
        Login
      </a>
      <a class="btn btn-link btn-sm text-dark" [routerLink]="['/signup']">
        Signup
      </a>
    </div>
  </nav>
</header>
