
<div *ngIf="story" class="mb-5 story-preview__wrapper">
  <main-story-title [story]="story"></main-story-title>
  <main-story-details [story]="story"></main-story-details>
  <main-story-body [story]="story"></main-story-body>
  <main-story-author [story]="story"></main-story-author>
  <hr>
  <main-story-upvotes [upvotes]="upvotes" [story]="story"></main-story-upvotes>
  <main-story-unlocks *ngIf="story.paidSectionCost > 0" [unlocks]="unlocks" [story]="story"></main-story-unlocks>
  <main-story-comments [comments]="comments" [story]="story"></main-story-comments>
</div>
