<div class="row">
	<div class="push feed">
		<div class="feed-header">
			<div class="feed-author">
				<ul class="list-unstyled" >
					<li>
						<img fallback-src="{{'/img/avatar.png'}}" ng-src="{{feed.user.imageUrl ? feed.user.imageUrl : '/img/avatar.png'}}">
					</li>
					<li>
						<strong style="margin-top:15px;">
							<a ui-sref="vicigo.profile({ profileId:feed.user.id })">{{feed.user.username}}</a>
						</strong>
					</li>
					<li class="feed-date">
						<span class="text-muted"><small>{{ feed.createdAt }}</small></span>
					</li>
				</ul>
			</div>
		</div>
		<a ui-sref="vicigo.post({ postId: feed.id, alias: feed.alias, username: feed.user.username })">
			<div class="post-feed-body">
				<div class="feed-title">
					<h3>
						<strong>
							{{feed.title}}
						</strong>
					</h3>
				</div>

				<div class="feed-body">
					<lazy-img ng-if="feed.image_url" class="lazy" ng-src="{{trustSrc(feed.imageUrl)}}" alt="image"></lazy-img>

					<p ng-if="feed.body" class="feed-article">
						{{ displayFeedBody(feed.body) }}
					</p>
				</div>
			</div>
		</a>

		<div class="feed-footer">
			<div class="row hashtags">
				<div class="col-xs-12">
					<div style="padding-left:8px;padding-right:5px;">
						<a class="pull-left hashtag" ng-repeat="hashtag in feed.userPostHashtags" ui-sref="vicigo.hashtag({ hashtag : hashtag.hashtag })">#{{ ::hashtag.hashtag}}</a>
					</div>
				</div>
			</div>

			<div class="row feed-actions" style="padding-top: 10px; padding-bottom: 10px;">
				<div class="col-xs-12">
					<ul class="list-unstyled list-inline list" ng-click="addressClicked(feed.user.addressBCH, feed.id)">
						<li style="width:50px;">
							<a class="btn btn-default" href="#">
								<i class="fa fa-btc"></i> 0.001 Upvote</a>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>