@import '../../../../styles';

.container {
  height: 100%;
  align-content: center;
}

:host {
  width: 400px;
  @include background-opacity($white, 5);
}

.errors {
  @include background-opacity($white, 5);

  & > .card-body {
    @include opacity(10);
  }
}
