notifications:
  slack: vqlabs:j71yKGBW4ipmLoWcJuteN83i

cache:
  directories:
    - node_modules

addons:
  sauce_connect: true

dist: trusty

language: node_js

node_js:
  - 9

matrix:
  include:
  - name: "honestcash"
    sudo: false

    install:
    - npm install
    - npm install -C ./honestcash-v2

    script:
    - npm run build
    # enable it once all the linting errors are fixed:
    # - npm run lint
    - npm run transfer-libs
    - npm run test
    - npm run build --prod -C ./honestcash-v2
    - npm run build:ssr -C ./honestcash-v2
    # @todo: tests go into endless loop
    # - npm run test -C ./honestcash-v2

    before_deploy:
    - npm prune --production
    - du -d 1 -h
    - mkdir deployments
    - if [[ "$TRAVIS_BRANCH" == "master" ]]; then zip -r deployments/honestcash-prod.zip public node_modules server views app.js package.json .env appspec.yml scripts -q; fi
    - if [[ "$TRAVIS_BRANCH" == "dev" ]]; then zip -r deployments/honestcash-dev.zip public node_modules server views app.js package.json .env appspec.yml scripts -q; fi 

    # The deployment process is triggered for both master and dev
    deploy:
      - provider: s3
        # You can refer to environment variables from Travis repo settings!
        access_key_id: $AWS_ACCESS_KEY_ID
        secret_access_key: $AWS_SECRET_ACCESS_KEY
        # Name of the S3 bucket to which your site should be uploaded.
        bucket: codedeploy-honestcash
        # Prevent Travis from deleting your built site so it can be uploaded.
        skip_cleanup: true
        # Path to a directory containing your built site.
        local_dir: deployments
        on:
          branch: master
      - provider: s3
        # You can refer to environment variables from Travis repo settings!
        access_key_id: $AWS_ACCESS_KEY_ID
        secret_access_key: $AWS_SECRET_ACCESS_KEY
        # Name of the S3 bucket to which your site should be uploaded.
        bucket: codedeploy-honestcash
        # Prevent Travis from deleting your built site so it can be uploaded.
        skip_cleanup: true
        # Path to a directory containing your built site.
        local_dir: deployments
        on:
          branch: dev