<div class="nav-item" ngbDropdown placement="bottom-right">
  <a id="user-dropdown" class="nav-link" ngbDropdownToggle>
    <shared-avatar [src]="user.imageUrl"></shared-avatar>
    <user-balance></user-balance>
  </a>
  <div id="user-dropdown-list" ngbDropdownMenu aria-labelledby="user-dropdown">
    <a class="dropdown-item" (click)="goTo('profile')">my profile</a>
    <a class="dropdown-item" (click)="goTo('posts')">my posts</a>
    <a class="dropdown-item" (click)="goTo('wallet')">my wallet</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [routerLink]="['/frequently-asked-questions']">help</a>
    <a class="dropdown-item"  [routerLink]="['/terms-of-service']">terms of service</a>
    <a class="dropdown-item"  [routerLink]="['/privacy-policy']">privacy policy</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" (click)="logout()">Logout</a>
  </div>
</div>
