<div *ngIf="user">
  <div id="story-comment-wrapper" #commentWrapperElement class="pb-5">
    <div class="row">
      <div class="col">
        <p
          #commentElement
          id="story-comment"
          contenteditable="true"
          name="title"
          (input)="onCommentChange($event)"
          (blur)="onCommentBlur($event)"
          placeholder="Write a comment..."
          ngDefaultControl
        >
        </p>
      </div>
    </div>
    <button [id]="commentButtonId" type="button" (click)="onCommentClicked()" class="font-weight-bold btn btn-sm btn-success text-uppercase" [disabled]="isSaving">
      <span *ngIf="!isSaving">Publish</span>
      <span *ngIf="isSaving">Publishing...</span>
    </button>
  </div>
</div>
