<div class="row justify-content-between mb-2" *ngIf="unlocks !== undefined">
  <div class="col">
    <h5
      class="font-weight-bold text-uppercase cursor-pointer"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseUpvotes">
      <a (click)="isCollapsed = !isCollapsed">Unlocks</a> ({{unlocks.length}})
    </h5>
  </div>
  <div class="col text-right">
    <button class="btn btn-outline-dark btn-sm" (click)="isCollapsed = !isCollapsed" ngbTooltip="Toggle Unlocks">
      <fa-icon *ngIf="!isCollapsed" [icon]="['fas', 'chevron-up']"></fa-icon>
      <fa-icon *ngIf="isCollapsed" [icon]="['fas', 'chevron-down']"></fa-icon>
    </button>
  </div>
</div>
<div class="row" [ngbCollapse]="isCollapsed" *ngIf="!isLoading && unlocks && unlocks.length">
  <story-payer-badge *ngFor="let transaction of unlocks" [transaction]="transaction"></story-payer-badge>
</div>
<div class="row"  *ngIf="!isLoading && (!unlocks || (unlocks && !unlocks.length))">
  <div class="col"><small>No unlocks yet</small></div>
</div>
<div *ngIf="isLoading" class="row">
  <div class="col text-center">
    <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon> Loading unlocks...
  </div>
</div>
