<div class="col">
  <div class="row mb-5">
    <div class="col-8 d-flex justify-content-center align-items-center">
      <story-upvote-button-two></story-upvote-button-two>
    </div>
    <div class="col-4 d-flex justify-content-end">
      <img src="assets/images/undraw/upvote.svg" alt="">
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-4 d-flex justify-content-end">
      <img src="assets/images/undraw/share.svg" alt="">
    </div>
    <div class="col-8 d-flex justify-content-center align-items-center">
      <story-share-buttons-two [story]="story"></story-share-buttons-two>
    </div>
  </div>
</div>
