@import '../../../styles';

:host ::ng-deep {
  form {
    .input-group-prepend {
      .input-group-text {
        background-color: $gray-800;
        border-color: $gray-800;
        color: $white;
      }
    }

    .form-control {
      border: $border-width solid $gray-800;
    }
  }

  a:not(.btn) {
    color: $white !important;
  }
}
