<editor-header [editingMode]="EDITOR_EDITING_MODES.Edit"></editor-header>
<div class="container">
  <div class="row mb-5">
    <div class="col story-body" *ngIf="story && story.body">
      <div
        #body
        [innerHTML]="story.body">
      </div>
    </div>
    <div class="col story-body" *ngIf="story && story.bodyJSON">
      <div
        #bodyJSON
        *ngFor="let block of story.bodyJSON; let index = index;"
        [innerHTML]="convertBlockToHtml(block)">
      </div>
    </div>
  </div>
</div>
