:host ::ng-deep .editor-header__save-status {
  line-height: 50px;
}

:host ::ng-deep .editor-header__save-status > .save {
  cursor: pointer;
}

:host ::ng-deep .editor-header__publish-button {
  line-height: 50px;
}
