#editor {
  max-width: 650px;
  margin: 0 auto;
  color: black;
}

:host ::ng-deep .ce-paywall {
  width: 100%;
  text-align: center;
  background-color: red;
  border: 1px solid #fafafa;
  border-radius: 4px;
}

:host ::ng-deep .ce-paywall:before {
  display: inline-block;
  content: "Content below will have to be unlocked by the reader";
  color: white;
  font-size: 18px;
  height: 30px;
  letter-spacing: 0.2em;
}

:host ::ng-deep .ce-header {
  font-weight: normal;
}

:host ::ng-deep h1.ce-header {
  font-size: 40px;
}

:host ::ng-deep h2.ce-header {
  font-size: 30px;
}

:host ::ng-deep h3.ce-header {
  font-size: 23.4px;
}

:host ::ng-deep h5.ce-header {
  font-size: 16.6px;
}

:host ::ng-deep h6.ce-header {
  font-size: 13.4px;
}

:host ::ng-deep .cdx-quote {
  font-size: 30px;
}

:host ::ng-deep .cdx-checklist,
:host ::ng-deep .cdx-list,
:host ::ng-deep .cdx-input,
:host ::ng-deep .ce-paragraph,
:host ::ng-deep h4.ce-header,
:host ::ng-deep .ce-delimiter:before {
  font-size: 20px;
}

:host ::ng-deep .cdx-warning:before {
  left: -40px;
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  margin-top: 16px;
}
