<h1>Earn cash for your content on Honest Cash</h1>
<h2>Honest Cash - social network that pays creators based on Bitcoin Cash (BCH)</h2>
<p>
  Honest is a social network where you can earn Bitcoin Cash (BCH) if you create value. Our mission is to improve the quality of content on the internet and to get people paid for doing what they love.
</p>

<p>
  You earn Bitcoin Cash when your content is upvoted on Honest Cash.
</p>
<p>
  You can earn Bitcoin Cash by voting on good content early.
</p>
<p>
  Your opinion is important, regardless what position do you represent. You can make your content uncensorable on Honest Cash so it can never be censored or removed.
</p>

<% for (var index = 0; index < feeds.length; index++) { %>
  <%- include('post', { post: feeds[index] }); %>
<% } %>

