<div class="container bg-image">
    <div class="col-sm-6 col-sm-offset-3">
    <img style="width:100%; max-width:150px; display:block; margin:auto;" src="/img/honest-long-logo.png" >	
        <h1><span class="fa fa-sign-in"></span> {{welcomeCtrl.resetCode ? "Change password": "Login" }}</h1> 
        <div ng-if="welcomeCtrl.message" class="alert alert-warning" role="alert">{{welcomeCtrl.message}}</div>

        <form ng-if="!welcomeCtrl.hideForm" ng-submit="welcomeCtrl.resetCode ? welcomeCtrl.changePassword(welcomeCtrl.data) : welcomeCtrl.forgot ? welcomeCtrl.resetPassword(data) : welcomeCtrl.login(data)">
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" ng-model="welcomeCtrl.data.loginemail">
            </div>

            <div class="form-group" ng-show="!welcomeCtrl.forgot">
                <label>Password</label>
                <input type="password" class="form-control" ng-model="welcomeCtrl.data.loginpassword">
            </div>

            <div class="form-group" ng-show="welcomeCtrl.resetCode && !forgot">
              <input type="password" placeholder=Password class="form-control" ng-model="data.loginpasswordreset">
            </div>

            <p class="text-muted">
                Disclaimer: Honest takes no responsibility for your account, keys, or wallet. In order to ensure that your account is not lost, backup your key using the "Export Recovery Phrase" tool after login. Your wallet is encrypted with your account password, so make sure to use a strong password.
            </p>

            <button style="background-color:black; color: white;" type="submit" class="btn btn-lg" ng-disabled="isLoading">
            <i ng-show="isLoading" class="fa fa-circle-o-notch fa-spin"></i>
            {{resetCode ? "Confirm" : forgot ? "Reset" : "Login" }}
        </button>
        </form>

        <hr />

        <p class="text-center">Need an account? <a href="/signup">Signup</a></p>
        <p class="text-center" ng-show="!forgot"><a href="#" ng-click="goToForgotPage()">Reset password</a></p>
        <p class="text-center" ng-show="forgot"><a href="#" ng-click="goToLoginPage()">Login</a></p>
    </div>
</div>
