<div class="overlay background-content overlay-content">  

      <div class="buy-art-btn hidden-xs"> 
          <a href="https://twitter.com/helloluis" class="artist-name">@helloluis</a> 
          <a href="https://cryptopop.threadless.com/designs/supper-at-the-bitcoin-moonbase/home" class="btn btn-md notification-badge-button" style="background-color:black; color: white; padding:8px;">
            Buy This Art
          </a>  
      </div> 

    <div class="login-container container">    
      <div class="login-box">
          <div class="col-xs-12">
            <img style="width:100%; max-width:200px; display:block; margin:auto;" src="/img/honest-long-logo.png" >	
            <h4 class="text-center text-muted" style="padding-top:10px;padding-bottom:15px;">
                For writers, creatives and thinkers, Honest is a content publishing platform where users can earn Bitcoin by creating value.
            </h4>
          </div>

          <div class="col-xs-12">
            <div ng-if="welcomeCtrl.message" class="alert alert-warning" role="alert">
                {{welcomeCtrl.message}}
            </div>

            <form ng-if="!welcomeCtrl.hideForm" ng-submit="welcomeCtrl.resetCode ? welcomeCtrl.changePassword(welcomeCtrl.data) : welcomeCtrl.forgot ? welcomeCtrl.resetPassword(welcomeCtrl.data) : welcomeCtrl.login(welcomeCtrl.data)">
              <div class="form-group">
                  <input type="email" placeholder="Email" class="form-control" ng-model="welcomeCtrl.data.loginemail">
              </div>

              <div class="form-group" ng-show="!welcomeCtrl.forgot">
                  <input type="password" placeholder="Password" class="form-control" ng-model="welcomeCtrl.data.loginpassword">
              </div>

              <div class="form-group" ng-show="welcomeCtrl.resetCode && !welcomeCtrl.forgot">
                <input type="password" placeholder="Repeat your password" class="form-control" ng-model="welcomeCtrl.data.loginpasswordreset">
              </div>

              <div>
                <p ng-show="!welcomeCtrl.forgot && !welcomeCtrl.resetCode" class="text-muted">
                    Ensure that the website is <code>https://honest.cash</code> with a <strong>valid</strong> security certificate. Your email and password is used to decrypt your wallet and get access to your bitcoin.
                </p>

                <p ng-show="welcomeCtrl.forgot || welcomeCtrl.resetCode" class="text-muted">
                    Your Honest wallet is encrypted with your password. If you reset your password, a new wallet will be generated. In order to ensure that your wallet is not lost, back it up by saving the "Recovery Phrase". You can restore your wallet with the recovery phrase at any time after login.
                </p>
              </div>

              <div>
                <button style="background-color:black; color: white;margin-bottom:10px;" type="submit" class="btn btn-md" ng-disabled="welcomeCtrl.isLoading">
                    <i ng-show="welcomeCtrl.isLoading" class="fa fa-circle-o-notch fa-spin"></i>
                    {{welcomeCtrl.resetCode ? "Confirm" : welcomeCtrl.forgot ? "Reset" : "Login" }}
                  </button>

                <h6 class="text-left" ng-show="!welcomeCtrl.forgot && !welcomeCtrl.resetCode" >
                  <a href="/signup" target="_self">Signup</a>
                </h6>
                <h6 class="text-left" ng-show="!welcomeCtrl.forgot && !welcomeCtrl.resetCode">
                  <a href="#" ng-click="welcomeCtrl.goToForgotPage()">Reset password</a>
                </h6>
                <h6 class="text-left" ng-show="welcomeCtrl.forgot">
                  <a href="#" ng-click="welcomeCtrl.goToLoginPage()">Login</a>
                </h6>
              </div>
            </form>
          </div>
          <div ng-include="'templates/partials/footer.html'"></div>             
      </div>
    </div>
</div>

 

      