<div class="login-container container">    
  <div class="login-box">
      <div class="col-xs-12">
        <img style="width:100%; max-width:200px; display:block; margin:auto;" src="/img/honest-long-logo.png" >	
        <h4 class="text-center text-muted" style="padding-top:10px;padding-bottom:15px;">
            For writers, creatives and thinkers, Honest is a content publishing platform where users can earn Bitcoin by creating value.
        </h4>
      </div>
      <div ng-if="message" class="alert alert-warning" role="alert">{{message}}</div>
      <div class="col-xs-12">   
        <form ng-if="!hideForm" ng-submit="resetCode ? changePassword(data) : forgot ? resetPassword(data) : login(data)">
          <div class="form-group">
              <input type="email" placeholder="Email" class="form-control" ng-model="data.loginemail">
          </div>

          <div class="form-group" ng-show="!forgot">
              <input type="password" placeholder="Password" class="form-control" ng-model="data.loginpassword">
          </div>

          <div class="form-group" ng-show="resetCode && !forgot">
          <label>Repeat password</label>
          <input type="password" class="form-control" ng-model="data.loginpasswordreset">
          </div>

          <button style="background-color:black; color: white;margin-bottom:10px;" type="submit" class="btn btn-md" ng-disabled="isLoading">
            <i ng-show="isLoading" class="fa fa-circle-o-notch fa-spin"></i>
            {{resetCode ? "Confirm" : forgot ? "Reset" : "Login" }}
          </button>

          <h6 class="text-left">Need an account? <a href="/signup" target="_self">Signup</a></h6>
          <h6 class="text-left" ng-show="!forgot"><a href="#" ng-click="goToForgotPage()">Reset password</a></h6>
          <h6 class="text-left" ng-show="forgot"><a href="#" ng-click="goToLoginPage()">Login</a></h6>
        </form>
      </div> 
      <div ng-include="'templates/partials/footer.html'"></div>             
</div>

    

