<div class="container">
	<div class="col-xs-12 visible-xs" style="height:100px;"></div>
	<div class="col-md-8 col-md-offset-2">
		<div class="row">
			<div ng-if="post.parentPost" class="block-center">
				<div class="panel" ui-sref="vicigo.post({ alias: post.parentPost.alias, username: post.parentPost.username })">
					<div class="panel-body" style="cursor: pointer;">
						Response to: <b>{{post.parentPost.title}}</b>
						<p>by @{{post.parentPost.user.username}}</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<post-header></post-header>
		</div>

		<hr />

		<div class="row">
			<article class="site-block post-body" ng-bind-html="displayFeedBody(post.body)"></article>
		</div>

		<hr />

		<div class="row" ng-show="!post.user.addressBCH">
			<div class="block-center">
				<div class="panel">
					<div class="panel-body">
						<h2>This author does not accept tips.</h2>

						<p>
							<strong>Important:</strong> You can specify the address for receiving tips in your profile.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row" ng-show="post.user.addressBCH">
			<div class="block-center">
				<div class="panel">
					<div class="panel-body">
						<h2>Give a tip to the author</h2>
						<p>
							... and support the best content in internet with bitcoin cash. Recommended amount: 0.50€.
						</p>
						<input readonly class="form-control" id="userBCHAddress">

						<div style="margin-bottom: 5px; margin-top: 10px;" id="post-tipping-container"></div>

						<p>
							<strong>Important:</strong> Soon you will be able to give tips directly from your Honest account for great content and also get paid for finding good content early! In the meantime, you can still tip from any Bitcoin Cash wallet.
						</p>
					</div>
				</div>
			</div>	
		</div>
	</div>			
</div>

<div class="container">
	<div class="row">
	<div class="col-xs-12 visible-xs" style="height:100px;"></div>

	<div class="col-md-8 col-md-offset-2">
		<h4><strong>Responses</strong></h4>

		<div class="block-center">
			<div class="panel">
				<div class="panel-body" style="cursor: pointer;">
					<a ng-href="{{user.id ? 'write/response/' + post.id : '/signup' }}">
						<ul style="margin-top: 10px;" class="list-unstyled list-inline">
							<li>
								<img ng-if="post.user.imageUrl" ng-src="{{post.user.imageUrl}}" alt="{{post.user.username}}" class="img-circle img-thumbnail-avatar-small">
								<img ng-if="!post.user.imageUrl" src="/img/avatar.png" alt="{{response.user.username}}" class="img-circle img-thumbnail-avatar-small">
							</li>
							<li>
								<p>
									{{ post.userPosts === 0 ? "Be the first to write a response..." : "Write a response..." }}
								</p>
							</li>
						</ul>
					</a>
				</div>
			</div>
		</div>

		<div class="block-center" ng-repeat="response in post.userPosts">
			<div class="panel">
				<div class="panel-body">
					<ul class="list-unstyled list-inline">
						<li>
							<a ui-sref="vicigo.profile({profileId: response.user.id})">
								<img ng-if="response.user.imageUrl" fallback-src="{{'/img/avatar.png'}}" ng-src="{{response.user.imageUrl}}" alt="{{response.user.username}}" class="img-circle img-thumbnail-avatar-small">
								<img ng-if="!response.user.imageUrl" src="/img/avatar.png" alt="{{response.user.username}}" class="img-circle img-thumbnail-avatar-small">
							</a>
						</li>

						<li style="vertical-align:middle">
							<strong style="margin-top:50px;">
								<a ui-sref="vicigo.profile({profileId: response.user.id})">{{::response.user.username}}</a></strong>
			
							<br />

							<small class="text-muted">
								<span ng-if="!post.post_publish_timestamp_formatted">{{::response.createdAt}}</span> 
							</small>
						</li>
					</ul>

					<article class="site-block post-body" ng-bind-html="displayFeedBody(response.body)"></article>

					<ul style="margin-left: 5px;" class="list-inline list-unstyled">
						<a href="#" ui-sref="vicigo.post({ alias: response.alias, username: response.user.username })">Read more</a>
						<a href="#" ui-sref="vicigo.post({ alias: response.alias, username: response.user.username })">Give a tip</a>
					</ul>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>