<div>
  <div class="row" style="margin-bottom: 30px;">
    <div class="col-xs-12">
      <strong style="font-size: 30px;">{{getHeaderText()}}</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-tabs text-center">
        <li ng-class="{ 'bold': currentTab === 'drafts' }" class="showProfileTab" ng-click="switchTab('drafts')">
          <a href="#" class="showProfileTab"> Drafts </a>
        </li>

        <li ng-class="{ 'bold': currentTab === 'published' }" class="showProfileTab" ng-click="switchTab('published')">
          <a href="#" class="showProfileTab">
            Published
          </a>
        </li>

        <li ng-class="{ 'bold': currentTab === 'archived' }" class="showProfileTab" ng-click="switchTab('archived')">
          <a href="#" class="showProfileTab">
            Archived
          </a>
        </li>

        <li ng-class="{ 'bold': currentTab === 'locked' }" class="showProfileTab" ng-click="switchTab('locked')">
          <a href="#" class="showProfileTab">
            Locked
          </a>
        </li>

        <li ng-class="{ 'bold': currentTab === 'unlocked' }" class="showProfileTab" ng-click="switchTab('unlocked')">
          <a href="#" class="showProfileTab">
            Unlocked
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12" style="margin-bottom: 20px;">
          <ul class="nav nav-tabs text-center" style="border-bottom: 0px;">
            <li ng-class="{ 'bold': currentSubTab === 'posts' }" class="showProfileTab"
              ng-click="switchSubTab('posts')">
              <a href="#" class="showProfileTab"> Posts </a>
            </li>

            <li ng-if="currentTab !== 'unlocked' && currentTab !== 'locked' && currentTab !== 'archived'"
              ng-class="{ 'bold': currentSubTab === 'responses' }" class="showProfileTab"
              ng-click="switchSubTab('responses')">
              <a href="#" class="showProfileTab">
                Responses
              </a>
            </li>

            <li ng-if="currentTab === 'drafts' && currentSubTab === 'posts'"
              style="float: right;">
              <button style="margin-top: 10px;" class="btn btn-sm btn-success" class="hc-tooltip" data-tippy-content="New Draft"><i class="fa fa-plus"></i></button>
            </li>
          </ul>
        </div>
      </div>
      <div class="row" ng-if="!isLoading">
        <div class="col-xs-12">
          <div ng-if="!filteredPosts.length" class="col-xs-12 text-center">
            <h2>Write your first post!</h2>
            <a href="/write" target="_self">
              <button class="btn-default btn" style="margin:10px;">
                <strong>Create draft</strong>
              </button>
            </a>
          </div>
          <div ng-if="filteredPosts.length" class="post-feed-body" ng-repeat="post in filteredPosts"
            style="padding: 10px; margin-bottom: 10px;">
            <div class="row">
              <div class="col-xs-12">
                <h3>
                  <strong> {{ post.title }} </strong>
                </h3>
                <article ng-if="post.plain" style="font-size: 14px;">
                  {{post.plain | limitTo: 100}}{{post.plain.length > 100 ? '...' : ''}}
                </article>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-9 pull-left">
                <span ng-if="post.status === 'draft'" class="text-muted" style="font-size: 12px;">Last saved on {{ post.updatedAtFormatted }}</span><span ng-if="post.status === 'draft' && post.parentPost" class="text-muted" style="font-size: 12px;"> · Response to <a href="/{{post.parentPost.user.username}}/{{post.parentPost.alias}}" target="_blank">{{ post.parentPost.title }}</a> by {{post.parentPost.user.username}}</span>
                <span ng-if="post.status === 'published' && currentTab !== 'unlocked'" class="text-muted" style="font-size: 12px;">Published on {{ post.publishedAtFormatted }}<span ng-if="currentSubTab === 'responses'"> · Response to <a href="/{{post.parentPost.user.username}}/{{post.parentPost.alias}}" target="_blank">{{ post.parentPost.title }}</a> by {{post.parentPost.user.username}}</span> </span>
                <span ng-if="post.status === 'archived'" class="text-muted" style="font-size: 12px;">Archived on {{ post.archivedAtFormatted }}</span>
                <span ng-if="currentTab === 'unlocked'" class="text-muted" style="font-size: 12px;">Published on {{ post.publishedAtFormatted }} · Unlocked on {{ post.unlockedAtFormatted }}</span>
              </div>
              <div class="col-xs-12 col-sm-3 pull-right text-right">
                <a class="btn btn-default btn-xs"
                  ui-sref="vicigo.post({ alias: post.alias, username: post.user.username })" target="_blank">
                  <i class="fa fa-eye"></i>&nbsp;View
                </a>
                <a ng-if="post.status !== 'archived' && post.user.id === user.id" class="btn btn-default btn-xs" ng-href="/edit/{{ post.id }}"
                  target="_blank">
                  <i class="fa fa-eraser"></i>&nbsp;Edit
                </a>
                <button ng-if="post.status !== 'archived' && !post.parentPostId && currentTab !== 'unlocked'" class="btn btn-default btn-xs" ng-disabled="isArchiving"
                  ng-click="archivePost(post)">
                  <i class="fa fa-archive"></i>&nbsp;Archive
                </button>
              </div>
            </div>
          </div>
          <button ng-disabled="isLoadingMore" ng-if="postsAvailable[currentTab][currentSubTab]" class="btn btn-default btn-block"
            style="margin-top: 20px;margin-bottom: 50px;" ng-click="loadMore()">
            Load more...
          </button>
          <div ng-if="!postsAvailable" style="margin-bottom: 50px;"></div>
        </div>
      </div>
      <div style="margin-top: 50px;" class="row text-center" ng-if="isLoading">
        <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
      </div>
    </div>
  </div>
</div>