<div class="container">
	<div class="row visible-xs" style="margin-top: 80px;">
	</div>

	<!-- INTRODUCTION ROW -->
	<div class="row">
		<div class="col-xs-12">
			<div class="col-xs-12 col-sm-3 col-md-2">
				<img ng-if="profile.imageUrl" ng-click="clickProfilePic()" id="profilePic" fallback-src="{{'/img/avatar.png'}}" class="img-circle img-thumbnail-avatar-big image-center clickable" ng-src="{{profile.imageUrl}}">
				<img ng-if="!profile.imageUrl" ng-click="clickProfilePic()" id="profilePic" class="img-circle img-thumbnail-avatar-big image-center clickable" ng-src="/img/avatar.png" >
			</div>
			<div class="pull-left col-xs-12 col-sm-9 col-md-10">
				<h1>
					{{ profile.username }}
				</h1>

				<form>
					<div class="form-group">
						<label for="bchAddress">BCH address</label>
						<input type="text" class="form-control" id="bchAddress" ng-model="profile.addressBCH">
					</div>
					<div class="form-group">
						<label for="reddit">Reddit username</label>
						<input type="text" class="form-control" id="reddit" ng-model="profile.reddit">
					</div>
					<div class="form-group">
						<label for="twitter">Twitter username</label>
						<input type="text" class="form-control" id="twitter" ng-model="profile.twitter">
					</div>
					<div class="form-group">
						<label for="bio">Bio</label>
						<textarea class="form-control" id="bio" rows="3" ng-model="profile.bio" ng-maxlength=300></textarea>
					</div>
					<button type="submit" class="btn btn-default" ng-click="submitChanges()">Submit</button>
					<a class="btn btn-default" href="/profile/{{profile.username}}">Cancel</a>
				</form>
			</div>
		</div>
	</div>
</div>
