<div class="container">
  <div class="row visible-xs" style="margin-top: 80px;"></div>

  <!-- INTRODUCTION ROW -->
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-12 col-sm-3 col-md-2">
        <img
          id="profilePic"
          fallback-src="{{ '/img/avatar.png' }}"
          class="img-circle img-thumbnail-avatar-normal image-center"
          ng-src="{{ profileCtrl.profile.imageUrl || '/img/avatar.png' }}"
        />
      </div>
      <div class="pull-left col-xs-12 col-sm-9 col-md-10">
        <div>
          <h1 class="text-center-sm">
            <span class="bold">{{ profileCtrl.profile.username }}</span>
            <span class="follow-unfollow" ng-if="profileCtrl.profile.id !== user.id">
              <follow-unfollow-button show-follow="true" show-unfollow="true" user="profileCtrl.profile"></follow-unfollow-button>
            </span>
            <span class="edit-profile" ng-if="profileCtrl.profile.id === user.id">
              <a
                class="btn btn-default btn-xs"
                href="/profile/{{ profileCtrl.profile.username }}/edit"
              >
                Edit profile
              </a>
            </span>
          </h1>

          <div class="hidden-xs">
            <span
              ng-if="profileCtrl.profile.addressBCH"
            >
              <a href="https://explorer.bitcoin.com/bch/address/{{profileCtrl.profile.addressBCH}}" target="_blank">{{ profileCtrl.profile.addressBCH }}</a>
              <i style="cursor:pointer;" ng-mouseenter="mouseEnterAddress('profile-bch-qr-code', profileCtrl.profile.addressBCH)"
              ng-mouseleave="mouseLeaveAddress('profile-bch-qr-code')" class="fa fa-qrcode" aria-hidden="true"></i>
            </span>
            <br ng-if="profileCtrl.profile.addressBCH">
            <span ng-if="profileCtrl.profile.addressBCH">
              <simple-ledger-protocol-details profile="profileCtrl.profile"></simple-ledger-protocol-details>
            </span>
          </div>
          <div class="profile-bch-qr-code"></div>

          <div>
            <span class="profile-bio text-center-sm" ng-if="profileCtrl.profile.bio">
              {{ profileCtrl.profile.bio }}
            </span>
          </div>
        </div>

        <div>
          <ul class="list-unstyled list-inline" style="margin-top:3px">
            <li>
              <span class="text-center-sm" ng-if="profileCtrl.profile.twitter">
                <a
                  href="https://twitter.com/{{ profileCtrl.profile.twitter }}"
                  target="_blank"
                >
                  <i class="fa fa-twitter"></i>
                </a>
              </span>
            </li>
            <li>
              <span class="text-center-sm" ng-if="profileCtrl.profile.reddit">
                <a
                  href="https://reddit.com/user/{{ profileCtrl.profile.reddit }}"
                  target="_blank"
                >
                  <i class="fa fa-reddit"></i>
                </a>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div ng-include="'profileNav'"></div>
  </div>
</div>

<div class="container">
  <div style="min-height:350px;">
    <div
      ng-if="profileCtrl.showProfileTab === 'feeds' && !profileCtrl.feeds.length && user.id == profileCtrl.profile.id"
      class="text-center"
    >
      <h2>Write your first post!</h2>
      <a ui-sref="editor.write">
        <button class="btn-default btn" style="margin:10px;">
          <strong>Create draft</strong>
        </button>
      </a>
    </div>

    <div ng-if="hashtag && profileCtrl.showProfileTab == 'feeds'" class="text-center">
      <h2>
        <strong>#{{ hashtag }}</strong>
        <button
          class="btn btn-default btn-sm"
          ng-click="profileCtrl.fetchFeeds({hashtag:null,page:0})"
        >
          ×
        </button>
      </h2>
    </div>

    <div ng-if="profileCtrl.showProfileTab=='feeds' || profileCtrl.showProfileTab=='responses'">
      <feeds
        user="user"
        feeds="profileCtrl.feeds"
        load-more="profileCtrl.loadMore()"
        is-loading="profileCtrl.isLoading"
        on-upvote="addressClicked"
        is-upvoting="isUpvoting"
      >
      </feeds>
    </div>

    <div ng-if="profileCtrl.showProfileTab=='followers' || profileCtrl.showProfileTab=='following'">
      <div class="width640 block-center">
        <div class="row" ng-repeat="followGuy in profileCtrl.followGuys">
          <hr />

          <!-- AUTHOR REFERENCES -->
          <div class="pull-left width321">
            <!-- AUTHOR IMAGE -->
            <a ui-sref="vicigo.profile({ profileId:followGuy.username })">
              <img
                class="img-circle img-thumbnail-avatar-small"
                fallback-src="/img/avatar.png"
                ng-src="{{
                  followGuy.imageUrl ? followGuy.imageUrl : '/img/avatar.png'
                }}"
              />
            </a>
            <!-- END AUTHOR IMAGE -->

            <strong style="margin-top:50px;">
              <a ui-sref="vicigo.profile({profileId:followGuy.username})">{{
                followGuy.username
              }}</a>
            </strong>

            <!-- AUTHOR TITLE -->
            <small class="text-muted" ng-if="followGuy.title">{{
              followGuy.title
            }}</small>
            <!-- END AUTHOR TITLE -->
          </div>

          <div class="following-follow" ng-if="profileCtrl.profile.id !== user.id">
            <button
              ng-if="!followGuy.alreadyFollowing && followGuy.id !== user.id"
              style="margin-top: 5px;"
              ng-click="follow(followGuy.id, followGuy);"
              class="pull-right btn btn-default btn-xs"
            >
              Follow
            </button>

            <button
              ng-if="followGuy.alreadyFollowing"
              style="margin-top: 5px;"
              ng-click="unfollow(followGuy.id, followGuy);"
              class="pull-right btn btn-success btn-xs"
            >
              Unfollow
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/ng-template" id="profileNav">
  <div class="hc-profile-nav">
    <ul class="width640 nav nav-tabs text-center">
        <li
        ng-class="{ 'bold': profileCtrl.showProfileTab === 'feeds' }"
        class="showProfileTab"
        ng-click="profileCtrl.showFeeds()"
      >
        <a href="#" class="showProfileTab">
          <small>Stories</small>
        </a>
      </li>

      <li
        ng-class="{ 'bold': profileCtrl.showProfileTab === 'responses' }"
        class="showProfileTab"
        ng-click="profileCtrl.showResponses()"
      >
        <a href="#" class="showProfileTab">
          <small>Responses</small>
        </a>
      </li>

      <li
        ng-class="{ 'bold': profileCtrl.showProfileTab === 'followers' }"
        class="showProfileTab"
        ng-click="profileCtrl.showFollowers()"
      >
        <a href="#" class="showProfileTab">
          <span class="hidden-xs" ng-bind="profileCtrl.profile.followerCount"></span>
          <small>Followers</small>
        </a>
      </li>
      <li
        ng-class="{ 'bold': profileCtrl.showProfileTab === 'following' }"
        class="showProfileTab"
        ng-click="profileCtrl.showFollowing()"
      >
        <a href="#" class="showProfileTab">
          <span class="hidden-xs" ng-bind="profileCtrl.profile.followingCount"></span>
          <small>Following</small>
        </a>
      </li>
    </ul>
  </div>
</script>