<div class="container">
	<!-- INTRODUCTION ROW -->
	<div class="row">
		<div class="col-xs-12">
			<div class="col-xs-12 col-sm-3 col-md-2">
				<img ng-if="profile.imageUrl" ng-click="clickProfilePic(user.id,profile.id)" id="profilePic" fallback-src="{{'/img/avatar.png'}}" class="img-circle img-thumbnail-avatar-big image-center" ng-src="{{profile.imageUrl}}">
				<img ng-if="!profile.imageUrl" ng-click="clickProfilePic(user.id,profile.id)" id="profilePic" class="img-circle img-thumbnail-avatar-big image-center" ng-src="/img/avatar.png">
			</div>
			<div class="pull-left col-xs-12 col-sm-9 col-md-10">
				<div ng-if="profile.id === user.id">
						<h1>
							<span href="#" editable-text="profile.username" onbeforesave="updateUsername($data)">
								{{ profile.username }}
							</span>
						</h1>

						<h3 class="text-center-sm">
							<span ng-if="profile.addressBCH" href="#" editable-text="profile.addressBCH" onbeforesave="updateAddressBCH($data)">
								{{ profile.addressBCH }}
							</span>
							<span ng-if="!profile.addressBCH" href="#" editable-text="profile.addressBCH" onbeforesave="updateAddressBCH($data)">
								<i class="fa fa-pencil-square-o"></i> Specify your BCH address for receiving tips
							</span>
						</h3>

						<div class="profile-bch-qr-code"></div>

						<div>
							<span href="#" editable-text="profile.twitter" onbeforesave="updateTwitter($data)">
								<i class="fa fa-twitter"></i>
								<span ng-if="profile.twitter">{{profile.twitter}}</span>
								<span ng-if="!profile.twitter">Link your Twitter Account</span>
							</span>
						</div>

						<div>
							<span href="#" editable-text="profile.reddit" onbeforesave="updateReddit($data)">
								<i class="fa fa-reddit"></i>
								<span ng-if="profile.reddit">{{profile.reddit}}</span>
								<span ng-if="!profile.reddit">Link your Reddit Account</span>
							</span>
						</div>
						<div>
							<span class="textarea-bio" editable-text="profile.bio" placeholder="Add a Bio..." ng-model="string" maxlength="300" onbeforesave="updateBio($data)">
								{{ profile.bio }}
							</span>
						</div>
						<div class="row">
							<ul class="list-unstyled list-inline" style="padding-left:13px">
									<li class="middle-size side-padding showFollowers" ng-click="showFollowers()"><a href="#"><span ng-bind="profile.followers_count"></span> <small class="showFollowers">Followers</small></a></li>
									<li class="middle-size side-padding showFollowing" ng-click="showFollowing()"><a href="#"><span ng-bind="profile.followers_count"></span> <small class="showFollowing">Following</small></a></li>
								<!--
										<li class=" bold middle-size side-padding" ng-click="showFeeds()"><a href="#"><span ng-bind="profile.feeds_count"></span> <small>Posts</small></a></li>
										<li class="bold middle-size side-padding" ng-click="showFollowers()"><a href="#"><span ng-bind="profile.followers_count"></span> <small>Followers</small></a></li>
										<li class="bold middle-size side-padding" ng-click="showFollowing()"><a href="#"><span ng-bind="profile.following_count"></span> <small>Following</small></a></li>
										<li ng-if="profile.networks.length" class="bold middle-size side-padding"><a ng-href="{{profile.networks[0].url}}" target="_blank"><i class="fa fa-facebook"></i></li>
										<li class="bold middle-size side-padding hidden" ng-click="showHashtags()"><a href="#"><span ng-bind="profile.hashtag_count"></span> <small>Hashtags</small></a></li>
										-->
							</ul>
						</div>
				</div>

				<div ng-if="profile.id !== user.id">
					<h1 class="text-center-sm">
						{{ profile.username }}
						<span class="follow-unfollow">
							<button ng-click="follow(profile.id)" ng-if="!profile.alreadyFollowing" class="btn btn-default btn-lg btn-follow">FOLLOW</button>
							<button ng-click="unfollow(profile.id)" ng-if="profile.alreadyFollowing" class="btn btn-success btn-lg btn-unfollow">UNFOLLOW</button>
						</span>
					</h1>

					<h3 class="text-center-sm" ng-if="profile.addressBCH">
						<span ng-mouseenter="mouseEnterAddress('profile-bch-qr-code', profile.addressBCH)" ng-mouseleave="mouseLeaveAddress('profile-bch-qr-code')">
							{{ profile.addressBCH }}
						</span>
					</h3>
					<div class="profile-bch-qr-code"></div>

					<h3 class="text-center-sm" ng-if="profile.twitter">
						<i class="fa fa-twitter"></i><a href="https://twitter.com/{{profile.twitter}}">{{profile.twitter}}</a>
					</h3>

					<h3 class="text-center-sm" ng-if="profile.reddit">
						<i class="fa fa-reddit"></i><a href="https://reddit.com/user/{{profile.reddit}}">{{profile.reddit}}</a>
					</h3>

					<h3 class="text-center-sm" ng-if="profile.bio">
						{{profile.bio}}
					</h3>
				</div>

			</div>
		</div>

				<!--
					<button ng-click="follow(profile.user_id)" ng-if="!profile.alreadyFollowing && user.id !== profile.user_id" class="btn btn-default btn-lg">FOLLOW</button>
					<button ng-click="unfollow(profile.user_id)" ng-if="profile.alreadyFollowing && user.id !== profile.user_id" class="btn btn-success btn-lg">UNFOLLOW</button>

					-->
			</div>
		</div>
	</div>
	<hr />

	<div class="row">
		<div class="col-xs-12">
			<ul class="list-unstyled list-inline text-center">
				<li class="hashtag pointer" ng-repeat="hashtag in profile.hashtags" ng-click="fetchFeeds({hashtag:hashtag.hashtag, page:0})">
					<a>#<span ng-bind="hashtag.hashtag"></span></a>
				</li>
			</ul>
		</div>
	</div>

</div>

<div class="container">
	<div style="min-height:350px;">
		<div ng-if="!feeds.length && user.id == profile.id" class="text-center">
			<h2>
				Write your first post!
			</h2>

			<a ui-sref="editor.write">
				<button class="btn-default btn" style="margin:10px;">
					<strong>Create draft</strong>
				</button>
				<a>
		</div>

		<div ng-if="hashtag && showProfileTab == 'feeds'" class="text-center">
			<h2>
				<strong>#{{ hashtag }}</strong> <button class="btn btn-default btn-sm" ng-click="fetchFeeds({hashtag:null,page:0})">×</button>
			</h2>
		</div>

		<div ng-if="showProfileTab=='feeds'">
			<div ng-if="user.id==profileId">

				<div class="row" ng-repeat="draft in drafts">
					<div class="push feed">

						<div class="panel panel-info">
							<!-- HEADER -->
							<div class="panel-heading">
								<span class="fa fa-hashtag"></span>
								<button class="close" ng-click="removePost(draft,true,$index)">×</button>
							</div>
							<!-- END HEADER -->

							<div class="panel-body image-feed-body">
								<!-- IMAGE BODY href="/post/{{feed.id}}" -->
								<div class="feed-body">
									<lazy-img class="lazy" ng-src="{{trustSrc(draft.image_url)}}" alt="image">
								</div>
								<!-- END BODY -->

							</div>
						</div>
						<!-- end footer-->
					</div>
				</div>

			</div>

			<ng-include src="'templates/partials/feed-angular.html'" />
		</div>

		<div class="text-center width640 block-center" ng-if="showProfileTab=='hashtags'">
			<h3 class="bold text-center">
				Followed hashtags
			</h3>
			<hr>
			<div class="row" ng-if="!followedHashtags.length">
				<span class="muted">no hashtags here</span>
			</div>
			<div class="row" ng-repeat="hashtag in followedHashtags">
				<ul class="list-unstyled list-inline">
					<li>
						<a href="#" ng-click="unfollowHashtag(hashtag.hashtag,$index)" ng-if="user.id == profileId">×</a>
						<a class="bold" ui-sref="vicigo.hashtag({hashtag:hashtag.hashtag})">#{{hashtag.hashtag}}</a>
					</li>
				</ul>
			</div>
		</div>

		<div ng-if="showProfileTab=='followers' || showProfileTab=='following'">
			<div class="width640 block-center">
				<h3 class="bold text-center" ng-if="showProfileTab=='followers'">Followers</h3>
				<h3 class="bold text-center" ng-if="showProfileTab=='following'">Following</h3>
				<div class="row" ng-repeat="followGuy in followGuys">
					<hr>

					<!-- AUTHOR REFERENCES -->
					<div class="pull-left width321">
						<!-- AUTHOR IMAGE -->
						<a ui-sref="vicigo.profile({profileId:followGuy.id})">
							<img class="img-circle img-thumbnail-avatar-small" fallback-src="/img/avatar.png" ng-src="{{followGuy.imageUrl ? followGuy.imageUrl : '/img/avatar.png'}}">
						</a>
						<!-- END AUTHOR IMAGE -->

						<strong style="margin-top:50px;"><a ui-sref="vicigo.profile({profileId:followGuy.id})">{{followGuy.username}}</a></strong>

						<!-- AUTHOR TITLE -->
						<small class="text-muted" ng-if="followGuy.title">{{followGuy.title}}</small>
						<!-- END AUTHOR TITLE -->
				</div>

						<!-- END AUTHOR REFERENCES -->
				<div class="following-unfollow" ng-if="profile.id === user.id">
						<button ng-click="unfollow(followGuy.id);" ng-if="showProfileTab=='following'" class="pull-right btn btn-success btn-lg btn-unfollow">UNFOLLOW</button>
				</div>
			</div>
		</div>
	</div>
</div>



	</div>

</div>
