<div>
  <div class="row" style="margin-top: 50px; margin-bottom: 30px;">
    <div class="col-xs-12">
      <strong style="font-size: 30px;">Settings</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" style="margin-bottom: 20px;">
      <ul class="nav nav-tabs text-center">
        <li
          ng-class="{ 'bold': currentTab === 'notifications' }"
          class="showProfileTab"
          ng-click="switchTab('notifications')"
        >
          <a href="#" class="showProfileTab">Notifications</a>
        </li>
      </ul>
    </div>
  </div>
  <div style="margin-top: 50px;" class="text-center row" ng-if="isLoading">
      <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
    </div>
  <div ng-if="!isLoading" class="row">
    <div class="col-xs-12">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="settings.email.followingNewStory" ng-checked="settings.email.followingNewStory" ng-change="updateSetting('followingNewStory')"> New posts from your followers
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="settings.email.weeklyDigest" ng-checked="settings.email.weeklyDigest" ng-change="updateSetting('weeklyDigest')"> Weekly digest e-mails
        </label>
      </div>
    </div>
  </div>
</div>