<div class="container">
	<div class="row text-center">
		<div class="col-xs-12">
            <h1 class="bold" style="margin-bottom:30px;">
                Thank you!
            </h1>
            <p style="margin-bottom:50px;">
                <b>honest.cash</b> is a social network where you can earn (Bitcoin) Cash if you create value. <br>Our mission is improve the quality of content on the internet and to get people paid for doing work they love. <br> Since you signed up for an early invitation, we will let you know once you will be able to start writing and earn Cash. 
                <p>In the meantime, you can <a href="https://twitter.com/AdrianBarwicki" class="bold">follow us</a> on Twitter and stay tuned!</p>
            </p>
		</div>
    </div>
    <div class="row text-center">
    </div>    
</div>
