<div class="login-container container">    
    <div class="login-box">
      <div class="row text-center">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <h1 style="margin-bottom:30px;">
              Verify your email ...
          </h1>

          <h3 style="margin-bottom: 20px;">
              and start earning bitcoin by:
          </h3>

          <ul>
            <li>writing amazing content and letting others upvote it.</li>
            <li>generating and participating in discussions by writing comments. Others may upvote it!</li>
            <li>creating premium stories that require others to pay bitcoin to unlock them.</li>
          </ul>

          <p style="margin-top: 20px;">
            Join our <a href="https://t.me/honest_cash" class="bold" target="_blank">Telegram</a> or follow us on <a href="https://twitter.com/honest_cash" target="_blank" class="bold">Twitter</a> for the most recent updates!
          </p>

          <a href="/" target="_self" class="btn btn-block btn-default btn-honest">
              Explore Honest
          </a>
        </div>
    </div>
    <div class="row text-center"></div>
  </div>
</div>
