<div class="container">
	<div class="row text-center">
		<div class="col-xs-12">
            <h1 style="margin-bottom:30px;">
                Thank you!
            </h1>
            <p style="margin-bottom:50px;">
                <b>honest.cash</b> is a social network where you can earn (Bitcoin) Cash if you create value. <br>Our mission is improve the quality of content on the internet and to get people paid for doing work they love. <br> Since you signed up for our waiting list, we will let you know once you will be able to start writing and earn Cash. 
                <p>In the meantime, you can join our <a href="https://t.me/honest_cash" class="bold">Telegram </a> group and follow us on <a href="https://twitter.com/honest_cash" class="bold">Twitter</a> to stay tuned!</p>
            </p>
		</div>
    </div>
    <div class="row text-center">
    </div>    
</div>
