<div class="visible-xs" style="margin-top: 50px;"></div>

<div ng-if="connectedPrivateKey" class="container">
    <h2>My wallet</h2>

    <p>
        <div class="form-group">
                <ul class="list-inline list-unstyled" style="margin-top: 10px;">
                        <li>Balance: <b>{{addressBalance}} BCH</b></li>
                </ul>
                <ul class="list-inline list-unstyled" style="margin-top: 10px;">
                    <li>Explore:</li>
                    <li><a href="https://bch.btc.com/{{legacyAddressBCH}}" target="_blank">BTC.com</a></li>
                    <li><a href="https://blockchair.com/bitcoin-cash/address/{{legacyAddressBCH}}" target="_blank">Blockchair</a></li>
                    <li><a href="https://explorer.bitcoin.com/bch/address/{{legacyAddressBCH}}" target="_blank">Bitcoin.com</a></li>
                </ul>
        </div>
    </p>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item in active">
            <a class="nav-link" id="deposit-tab" data-toggle="tab" href="#deposit" role="tab" aria-controls="deposit" aria-selected="true" ng-click="onDepositClick()">Deposit</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="withdrawal-tab" data-toggle="tab" href="#withdrawal" role="tab" aria-controls="withdrawal" aria-selected="false">Withdrawal</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="wallet-tab" data-toggle="tab" href="#wallet" role="tab" aria-controls="wallet" aria-selected="false">
                Wallet keys
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="import-tab" data-toggle="tab" href="#import" role="tab" aria-controls="import" aria-selected="false">Import with recovery phrase</a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade in active" id="deposit" role="tabpanel" aria-labelledby="wallet-tab">
            <div style="margin-top:15px;" class="form-group">
                <label for="addressBCH">Address for sending tips</label>
                <input readonly type="text" ng-model="addressBCH" class="form-control" aria-describedby="emailHelp">

                <label for="exampleInputEmail1">Address for sending tips (Legacy format)</label>
                <input readonly type="text" ng-model="legacyAddressBCH" class="form-control" aria-describedby="emailHelp">

                <div style="margin-top:15px;" class="deposit-address-qr"></div>
            </div>
        </div>

        <div class="tab-pane fade" id="wallet" role="tabpanel" aria-labelledby="wallet-tab">
            <div style="margin-top:15px;" class="alert alert-danger" role="alert">
                    <small class="form-text">Save your keys before you disconnect your wallet or logout. Once disconnected, you will have to enter your recovery phrase to restore your wallet.</small>
            </div>

            <div style="margin-top:15px;" class="form-group">
                <label for="exampleInputEmail1">Recovery phrase</label>
                <input readonly type="text" ng-model="mnemonic" class="form-control" aria-describedby="emailHelp">
                <small class="form-text text-muted">Write it down! If you logout it will be deleted forever.</small>
            </div>

            <div style="margin-top:15px;" class="form-group">
                <label for="exampleInputEmail1">Private Key (WIF)</label>
                <input readonly ng-model="privateKey" class="form-control" aria-describedby="emailHelp" />
                <small>Derivation path: {{HdPath}}</small>
            </div>

            <div>
                <p>
                  <a href="https://honest.cash/honest_cash/how-to-import-your-honest-wallet-into-electron-cash-134" target="_blank">
                    How to import Your Honest wallet into Electron Cash
                  </a>
                </p>
                
                <p>
                <small class="form-text text-muted">
                    Ownership and control over the private key is the root of user control over all funds associated with the corresponding Bitcoin Cash address. The private key is used to create signatures that are required to spend bitcoins by proving ownership of funds used in a transaction. <b>The private key must remain secret at all times, because revealing it to third parties is equivalent to giving them control over the bitcoins secured by that key. The private key must also be backed up and protected from accidental loss, because if it’s lost it cannot be recovered and the funds secured by it are forever lost, too.</b>
                </small>
                </p>
            </div>

            <button ng-click="disconnect()" type="submit" class="btn btn-danger btn-lg">Remove wallet and create new</button>
        </div>

        <div class="tab-pane fade" id="withdrawal" role="tabpanel" aria-labelledby="withdrawal-tab">
            <div style="margin-top:15px;" class="form-group">
                <label for="withrawalAddressBCH">Address</label>
                <input type="text" placeholder="Enter your Bitcoin Cash address here.." ng-model="withdrawalAddressBCH" class="form-control" aria-describedby="withrawalAddressBCH">
                <small ng-show="!isWithdrawalAddressBCHValid">Address is not valid.</small>

                <label for="withdrawalAmount">Amount</label>
                <input type="number" placeholder="How much would you like to transfer" ng-model="withdrawalAmount" class="form-control" aria-describedby="withdrawalAmount">
                <span><a href="#" ng-click="withdrawalAmount=addressBalance-0.00001">Max amount (with 0.00001 BCH fees limit)</a></span>
            </div>

            <button ng-disabled="!withdrawalAmount || !withdrawalAddressBCH" ng-click="withdraw(withdrawalAmount, withdrawalAddressBCH)" type="submit" class="btn btn-danger btn-lg">Transfer</button>
            <br />
        </div>

        <div class="tab-pane fade" id="import" role="tabpanel" aria-labelledby="import-tab">
            <p style="margin-top:10px;">
                Your private key never leaves the browser. All transactions are signed within your browser and keys are not exposed over the internet.
                Do not connect wallets with bigger amounts! We recommend to generate a new wallet and transfer a small amount for the upvotes.</p>
                <b>Beware of scams! Ensure that the domain is https://honest.cash with a secure connection.</b>
            </p>

            <div class="form-group">
                    <label for="newMnemonic">Recovery phrase</label>
                    <input type="text" ng-model="newMnemonic" ng-change="onMnemonicChange(newMnemonic)" class="form-control" aria-describedby="newMnemonic" placeholder="Enter your mnemonic / seed">
                    <small class="form-text text-muted">Usually 12 words. Your keys will never leave your browser</small>
            </div>

            <h3>Advanced options</h3>

            <div class="form-group">
                    <label>HD Derivation Path</label>
                    <input type="text" ng-model="newHdPath" class="form-control" aria-describedby="HdPath" placeholder="Enter your HD derivation path">
                    <small class="form-text text-muted">Honest.Cash Default: m/44'/0'/0'/0/0</small><br />
                    <small class="form-text text-muted">Honest.Cash (obsolete): m/44'/145'/0/0/1'</small>
            </div>

            <button ng-if="canConnectMnemonic" ng-click="importNewWallet(newMnemonic, newHdPath)" type="submit" class="btn btn-primary btn-lg">Connect</button>
        </div>
    </div>
</div>

<div ng-if="!connectedPrivateKey" class="container">
    <div class="col-xs-12">
        <h1>CONNECT BITCOIN CASH WALLET</h1>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item in active">
                <a class="nav-link " id="new-wallet-tab" data-toggle="tab" href="#new-wallet" role="tab" aria-controls="new-wallet" aria-selected="true">
                  Remove wallet and create new
                </a>
            </li>
            <li class="nav-item" ng-click="onImportClick()">
                <a class="nav-link" id="import-tab" data-toggle="tab" href="#import" role="tab" aria-controls="import" aria-selected="false">
                  Import with recovery phrase
                </a>
            </li>
            <li class="hidden nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
                  Import with private key
                </a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade in active" id="new-wallet" role="tabpanel" aria-labelledby="new-wallet-tab">
              <h3 style="margin-top: 15px;">Generate a new Bitcoin Cash wallet.</h3>
              <p>
                  Your recovery phrase never leaves the browser. All transactions are signed within the browser and keys are not exposed over the internet.
                  Do not connect wallets with bigger amounts! We recommend to generate a new wallet and transfer a small amount for the upvotes.
                </p>
                <b>
                  Beware of scams! Ensure that the domain is https://honest.cash with a secure connection.
                </b>
              </p>
              <div ng-if="mnemonic" class="form-group">
                  <label for="exampleInputEmail1">Recovery phrase</label>
                  <input readonly type="text" ng-model="mnemonic" class="form-control" aria-describedby="emailHelp">
                  <small id="emailHelp" class="form-text text-muted">Your keys / mnemonic will never leave your browser.</small>
              </div>

              <h2 ng-if="addressBCH">Key pair for tips</h2>

              <div ng-if="addressBCH" class="form-group">
                  <label for="exampleInputEmail1">Address for sending tips</label>
                  <input readonly type="text" ng-model="addressBCH" class="form-control" aria-describedby="emailHelp" placeholder="">
                  <small id="emailHelp" class="form-text text-muted">It will be generated.</small>
              </div>

              <div ng-if="privateKey" class="form-group">
                  <label for="exampleInputEmail1">Private key</label>
                  <input readonly type="text" ng-model="privateKey" class="form-control" aria-describedby="emailHelp" placeholder="">
                  <small id="emailHelp" class="form-text text-muted">It will be generated.</small>
              </div>

              <button ng-click="generate()" type="submit" class="btn btn-primary btn-lg">Generate new</button>

              <button ng-if="addressBCH && privateKey" ng-click="connect()" type="submit" class="btn btn-primary btn-lg">Connect</button>

              <h3 style="margin-top: 20px;">Important: What is a private key?</h3>
              <p>
                  A private key is simply a number, picked at random. Ownership and control over the private key is the root of user control over all funds associated with the corresponding Bitcoin Cash address. The private key is used to create signatures that are required to spend bitcoins by proving ownership of funds used in a transaction. The private key must remain secret at all times, because revealing it to third parties is equivalent to giving them control over the bitcoins secured by that key. The private key must also be backed up and protected from accidental loss, because if it’s lost it cannot be recovered and the funds secured by it are forever lost, too.
              </p>
            </div>
            <div class="tab-pane fade" id="import" role="tabpanel" aria-labelledby="import-tab">
                <div class="form-group">
                        <label for="exampleInputEmail1">Recovery phrase</label>
                        <input type="text" ng-model="mnemonic" ng-change="onMnemonicChange(mnemonic)" class="form-control" aria-describedby="emailHelp" placeholder="Enter your mnemonic / seed">
                        <small class="form-text text-muted">Usually 12 words. Your keys will never leave your browser</small>
                </div>

                <h3>Advanced options</h3>

                <div class="form-group">
                        <label>HD Derivation Path</label>
                        <input type="text" ng-model="HdPath" class="form-control" aria-describedby="HdPath" placeholder="Enter your HD derivation path">
                        <small class="form-text text-muted">Honest.Cash Default: m/44'/0'/0'/0/0</small><br />
                        <small class="form-text text-muted">Honest.Cash (obsolete): m/44'/145'/0/0/1'</small>
                </div>

                <button ng-if="canConnectMnemonic" ng-click="connect(mnemonic, HdPath)" type="submit" class="btn btn-primary btn-lg">Connect</button>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <p style="margin-top: 15px;">Upvote content and receive tips using the private key of your existing Bitcoin Cash account.</p>
                <p>
                    Your private key never leaves the browser. All transactions are signed within your browser and keys are not exposed over the internet.
                    Do not connect wallets with bigger amounts! We recommend to generate a new wallet and transfer a small amount for the upvotes. In the future we plan to reward you for finding and upvoting good content early.</p>
                    <b>Beware of scams! Ensure that the domain is https://honest.cash with a secure connection.</b>
                </p>

                <div class="form-group">
                    <label for="exampleInputEmail1">Private key</label>
                    <input type="text" ng-model="privateKey" class="form-control" aria-describedby="emailHelp" placeholder="Enter your private key">
                    <small class="form-text text-muted">Your keys will never leave your browser.</small>
                </div>

                <button ng-if="privateKey" ng-click="connect(privateKey, HdPath)" type="submit" class="btn btn-primary">Connect</button>
            </div>
        </div>
    </div>
</div>
