<div class="container ng-cloak">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-xs-12" style="min-height:250px;">
      <div ng-if="draft.parentPost.id" class="block-center row">
        <div id="post-toggleable-container" class="panel" ng-class="{'post-toggled': isFullPostShown}">
          <div class="panel-body">
            Response to:
            <a
              target="_self"
              ng-href="/{{ draft.parentPost.user.username }}/{{
                draft.parentPost.alias
              }}"
              ><b>{{ draft.parentPost.title }}</b></a
            >
            <p>by <b>@{{ draft.parentPost.user.username }}</b></p>
            <article
              id="editor-post-reference"
              class="site-block post-body"
              ng-bind-html="displayFeedBody(draft.parentPost.body)"
            ></article>
          </div>
          <div class="panel-footer">
              <hr class="hr-text" data-content="{{isFullPostShown ? 'collapse' : 'expand'}}" ng-click="toggleFullPost()">
          </div>
        </div>
      </div>

      <h2>
        <strong>
          <div id="title" class="hidden"></div>
          <div ng-if="draft.status=='published'" class="badge">Published</div>
        </strong>
      </h2>

      <hr />

      <article style="font-size: 21px;" id="body"></article>
    </div>
  </div>
</div>
