<div class="card">
  <div id="story-comment-wrapper" #commentWrapperElement class="p-3 pb-5">
    <div class="row" *ngIf="user">
      <div class="col-1 pr-0">
        <shared-avatar [src]="user && user.imageUrl" large="true"></shared-avatar>
      </div>
      <div class="col">
        <p
          #commentElement
          id="story-comment"
          contenteditable="true"
          name="title"
          (input)="onCommentChange($event)"
          (blur)="onCommentBlur($event)"
          placeholder="Write a comment..."
          ngDefaultControl
        >
        </p>
      </div>
    </div>
    <button [id]="commentButtonId" type="button" (click)="onCommentClicked()" class="font-weight-bold btn btn-sm btn-success text-uppercase" [disabled]="isSaving">
      <span *ngIf="!isSaving">Comment</span>
      <span *ngIf="isSaving">Commenting...</span>
    </button>
  </div>
</div>
<div *ngIf="!user" class="card" >
  <div class="p-3">
    <div class="row">
      <div class="col">
        <p> Write a comment...
        </p>
      </div>
    </div>
  </div>
</div>
