<div class="row">
<div class="push feed">
				<!-- HEADER -->
				<div class="feed-header">
					<div class="feed-author">
						<ul class="list-unstyled" >
							<!-- AUTHOR IMAGE -->
							<li>
								<img fallback-src="{{'/img/avatar.png'}}" ng-src="{{feed.authorImage ? feed.authorImage : '/img/avatar.png'}}">
							</li>
						
							<!-- END AUTHOR IMAGE -->

							<!-- AUTHOR REFERENCES -->
							<li>
								<strong style="margin-top:15px;"><a ui-sref="vicigo.profile({profileId:feed.user.id})">{{feed.user.username}}</a></strong>
							</li>
							<!-- END AUTHOR REFERENCES -->
							<li class="feed-date">
								<span class="text-muted"><small>{{ feed.createdAt }}</small></span>
							</li>
						</ul>
					</div>
				</div>
				<!-- END HEADER -->
		
				<div ng-class="{ 'post-feed-body' : feed.post_type_id == 2 || feed.post_type_id == 3, 'image-feed-body' : feed.post_type_id == 4 || feed.post_type_id == 5 }">
					<!-- TITLE -->
					<div class="feed-title" ng-if="hasTitle(feed.post_type_id)">
						<h3><strong><a ng-href="{{feed.link}}">{{feed.title}}</a></strong></h3>
					</div>
					<!-- END TITLE -->
					
					<!-- IMAGE BODY href="/post/{{feed.id}}" -->
					<div class="feed-body" ng-click="goToPost(feed)">
						
						<lazy-img ng-if="feed.image_url" class="lazy" ng-src="{{trustSrc(feed.image_url)}}" alt="image"></lazy-img>
						
						<p ng-if="feed.body && feed.post_type_id !== 4 && feed.post_type_id !== 5" class="feed-article">
								{{ displayFeedBody(feed.body) }}
						</p>
						
					</div>
					<!-- END POST  BODY -->
					
				
					<!----------------------- POST BODY ENDS ---------------------------------->
				</div>

			<!-- footer -->	
			<div class="feed-footer">
				<div class="row hashtags">
					<div class="col-xs-12">
						<div style="padding-left:8px;padding-right:5px;">
							<a class="pull-left hashtag" ng-repeat="hashtag in feed.userPostHashtags" ui-sref="vicigo.hashtag({ hashtag : hashtag.hashtag})">#{{ ::hashtag.hashtag}}</a>
						</div>
					</div>
				</div>

				<div class="row feed-actions" style="margin-top: 10px;">
					<div class="col-xs-12">
						<ul class="list-unstyled list-inline list" ng-mouseenter="mouseEnterAddress('bch-qr-'+ feed.id, feed.user.addressBCH)" ng-mouseleave="mouseLeaveAddress('bch-qr-' + feed.id)">
							<li style="width:50px;">
								<span style="cursor:pointer;">
									<i ng-if="feed.alreadyUpvoted" class="upvoted rate-btn fa fa-heart"></i>
									<i ng-if="!feed.alreadyUpvoted" class="rate-btn fa fa-heart-o fa-2x"></i>
								</span>
							</li>
							<li>
								<a style="top:-5px;" href="#" >{{feed.user.addressBCH}}</a>
								<div class="bch-qr-{{feed.id}}"></div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
</div>