/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import 'core/shared/styles/_background-opacity';
@import 'core/shared/styles/_opacity';
@import '~bootstrap/scss/_variables.scss';
@import '~ngx-toastr/toastr-bs4-alert';

html,
body {
  min-height: 100vh;
  height: auto;
  margin: 0;
  overflow-x: hidden;
}

.ng-touched.ng-invalid {
  border-color: #dc3545;
}

