/* You can add global styles to this file, and also import other style files */
@import './app/modules/welcome/directives/tooltip.directive.scss';
@import 'app/styles/_background-opacity';
@import 'app/styles/_opacity';

.bg-image {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
    ), url('https://github.com/honest-cash/honestcash/blob/redesign/hc-6/public/img/artwork-login.jpg?raw=true') no-repeat 50% fixed / cover;
}

