/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import 'app/styles/_background-opacity';
@import 'app/styles/_opacity';
@import '~bootstrap/scss/_variables.scss';
@import '~ngx-toastr/toastr-bs4-alert';

html,
body {
  min-height: 100vh;
  height: auto;
  margin: 0;
  overflow-x: hidden;
}

.bg-image {
  width: 100%;
  height: 100%;
  background: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
  ), url('https://github.com/honest-cash/honestcash/blob/redesign/hc-6/public/img/artwork-login.jpg?raw=true');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.ng-touched.ng-invalid {
  border-color: #dc3545;
}

