<div class="row mb-2">
  <h5 class="col font-weight-bold text-uppercase cursor-pointer"
      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseUpvotes"><a (click)="isCollapsed = !isCollapsed">Upvotes</a>({{story.upvoteCount}})</h5>
</div>
<div class="row" [ngbCollapse]="isCollapsed">
  <story-payer-badge *ngFor="let transaction of upvotes" [transaction]="transaction"></story-payer-badge>
  <div *ngIf="!upvotes || (upvotes && !upvotes.length)" class="col"><small>No upvotes yet</small></div>
</div>
