<ng-template #paywallPopContent>For more information about pay-to-read sections, please refer to <a
  href="https://honest.cash/honest_cash/earn-more-money-for-your-content-paywalls-3552" target="_blank">Paywalls
  Guide</a></ng-template>
<ng-template #paywallPopTitle>About Pay-to-read Sections</ng-template>
<div class="modal-header">
  <h4 class="modal-title col text-uppercase text-center">New Story</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div #modalBody class="modal-body">
  <div class="panes" [@slide]="activePane">
    <div class="pane">
      <editor class="p-4"></editor>
    </div>
    <div class="pane">
      <form [hidden]="activePane === 'first'" name="form" class="p-4 needs-validation" #f="ngForm"
            (ngSubmit)="f.form.valid && onPublish(f)" novalidate>
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="title">Title</label>
              <input
                required
                id="title"
                name="title"
                #title="ngModel"
                [ngModel]="story.title"
                [ngClass]="{ 'is-invalid': f.submitted && title.invalid, 'is-valid': f.submitted && title.valid }"
                class="form-control"
                type="text"
                placeholder="Title of your story"
              >
              <div
                class="invalid-feedback"
                *ngIf="f.submitted && title.invalid"
              >
        <span
          *ngIf="title.errors.required"
        >
          Title is required.
        </span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="tags">Tags</label>
              <textarea
                id="tags"
                name="userPostHashtags"
                #userPostHashtags="ngModel"
                [ngModel]="story.userPostHashtags"
                [ngClass]="{ 'is-invalid': f.submitted && userPostHashtags.invalid, 'is-valid': f.submitted && userPostHashtags.valid }"
                class="form-control"
                type="text"
                placeholder="Tag your story"
                aria-describedby="tagsHelpInline"
              ></textarea>
              <small id="tagsHelpInline" class="text-muted">
                Tags can be submitted by pressing enter
              </small>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-auto">
            <div class="form-group btn-group btn-group-toggle">
              <label class="btn-outline-dark" ngbButtonLabel placement="right" [ngbPopover]="paywallPopContent"
                     [popoverTitle]="paywallPopTitle" triggers="mouseenter" [autoClose]="'outside'">
                <input type="checkbox" ngbButton id="hasPaidSection" name="hasPaidSection" #hasPaidSection="ngModel"
                       [(ngModel)]="story.hasPaidSection"> I have a pay-to-read section in my story
              </label>
            </div>
          </div>
        </div>
        <app-editor-publish-modal-paid-section-selection class="form-row" [hidden]="!story.hasPaidSection"
                                                         [form]="f"></app-editor-publish-modal-paid-section-selection>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="col text-left">
    <button *ngIf="activePane === 'first'" type="button" class="btn btn-outline-dark" (click)="onDismiss()">Close
      <fa-icon [icon]="['fas', 'window-close']"></fa-icon>
    </button>
    <button *ngIf="activePane === 'second'" type="button" class="btn btn-outline-dark" (click)="onBack()">Back
      <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon>
    </button>
  </div>
  <div class="col text-right">
    <button *ngIf="activePane === 'first'" type="button" class="btn btn-success" (click)="onNext()">Publish
      <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
    </button>
    <button *ngIf="activePane === 'second'" type="button" class="btn btn-success" (click)="onPublish()">Publish
      <fa-icon [icon]="['far', 'paper-plane']"></fa-icon>
    </button>
  </div>
</div>
