<ng-template #paywallPopContent>For more information about pay-to-read sections, please refer to <a
  href="https://honest.cash/honest_cash/earn-more-money-for-your-content-paywalls-3552" target="_blank">Paywalls
  Guide</a></ng-template>
<ng-template #paywallLengthContent>Pay-to-read can only be enabled when you have more than one
  sections.
</ng-template>
<ng-template #paywallPopTitle>About Pay-to-read Sections</ng-template>
<div class="modal-header">
  <h4 class="modal-title col text-uppercase text-center">New Story</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div #modalBody class="modal-body">
  <div class="panes" [@slide]="activePane">
    <div class="pane">
      <editor class="p-4" [story]="story"></editor>
    </div>
    <div class="pane">
      <form [hidden]="activePane === 'first'" name="form" class="p-4 needs-validation" #f="ngForm"
            (ngSubmit)="(f.form.valid && ((story.hasPaidSection && story.paidSectionCost > 0 && story.paidSectionLinebreak <= story.bodyJSON.length - 1) || !story.hasPaidSection)) && onSubmit()"
            novalidate>
        <editor-story-tags-selection></editor-story-tags-selection>
        <div class="form-row">
          <div class="col d-flex justify-content-center align-items-center">
            <div class="btn-block btn-group-toggle">
              <label class="btn-outline-dark" ngbButtonLabel placement="right"
                     [ngbPopover]="story.bodyJSON.length < 2 ? paywallLengthContent : paywallPopContent"
                     [popoverTitle]="paywallPopTitle" triggers="mouseenter" [autoClose]="true">
                <input type="checkbox" ngbButton id="hasPaidSection" #hasPaidSection="ngModel" name="hasPaidSection"
                       #hasPaidSection="ngModel" [(ngModel)]="story.hasPaidSection"
                       (ngModelChange)="onChangeHasPaidSection()" [disabled]="story.bodyJSON.length < 2"
                > I have a pay-to-read section in my story
              </label>
            </div>
          </div>
        </div>
        <editor-paid-section-selection [hidden]="!story.hasPaidSection"
                                       [form]="f"></editor-paid-section-selection>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="col text-left">
    <button *ngIf="activePane === 'first'" type="button" class="btn btn-outline-dark" (click)="onDismiss()">Close
    </button>
    <button *ngIf="activePane === 'second'" type="button" class="btn btn-outline-dark" (click)="onBack()">Back
    </button>
  </div>
  <div class="col text-right">
    <button *ngIf="activePane === 'first'" type="button" class="btn btn-success" (click)="onNext()">Publish
    </button>
    <button *ngIf="activePane === 'second'" type="button" class="btn btn-success" (click)="onSubmit()">Publish
    </button>
  </div>
</div>
