:host ::ng-deep .modal-body {
  max-height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0px !important;
}

.panes {
  height: 100%;
  width: 200%;

  display: flex;

  .pane {
    flex: 1;
  }
}

:host ::ng-deep .codex-editor__redactor {
  padding-top: 10px;
  padding-bottom: 50px !important;
  min-height: 50vh;
}

:host ::ng-deep .codex-editor__redactor {
  counter-reset: line-number;
}

:host ::ng-deep .codex-editor__redactor > .ce-block {
  counter-increment: line-number;
}

:host ::ng-deep .codex-editor__redactor > .ce-block.ce-block--focused > .ce-block__content:before {
  position: absolute;
  right: -40px;
  content: counter(line-number);
  top: 0px;
}

:host ::ng-deep .ng2-tags-container {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding-left: 5px;
  padding-right: 5px;
}

:host ::ng-deep .ng2-tag-input.hc-theme {
  border: none !important;
}

:host ::ng-deep tag-input-form {
  width: 100%;
}

:host ::ng-deep tag {
  letter-spacing: initial !important;
  border-radius: .25rem !important;
}

:host ::ng-deep .tag__text,
:host ::ng-deep .ng2-tag-input__text-input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  font-size: 1rem !important;
}

:host ::ng-deep .ng2-tag-input__text-input {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem !important;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

:host ::ng-deep .ng2-tags-container:focus-within {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

:host ::ng-deep .ng2-tag-input__text-input {
  width: 100%;
  background-color: transparent;
}
