<div class="col-auto pr-0">
  <shared-avatar [src]="story.user.imageUrl" large="true"></shared-avatar>
</div>
<div class="col">
  <div class="row">
    <div class="col">
      <button (click)="goToUserProfile()" class="btn btn-link p-0 text-dark font-weight-bold">{{story.user.username}}</button>
      <user-follow-button *ngIf="!user || (user && user.id !== story.user.id)" [author]="story.user"></user-follow-button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>{{story.user.bio}}</p>
    </div>
  </div>
</div>
