<div class="row mb-3">
  <div class="col">
    Upvote <b>{{story.user.username}}</b>'s story now to show your appreciation.
  </div>
</div>
<div class="row mb-5">
  <div class="col d-flex justify-content-center">
    <button type="button" class="upvote-button text-white font-weight-bold btn btn-lg btn-warning text-uppercase">
      <div class="amount-dollars">Upvote 10¢</div>
      <div class="amount-bch">For 0.00023BCH</div>
    </button>
  </div>
</div>
<div class="row">
  <div class="col">
    <small><i>Did you know that you can earn money<br>
      by simply just upvoting? <a target="_blank" href="https://honest.cash/honest_cash/earning-money-on-honest-cashupvoting-paywalls-and-benefits-4027">Click to read more.</a></i></small>
  </div>
</div>
