<app-welcome-heading
  title="Sign in to Honest."
  description="Enter your details below"
></app-welcome-heading>

<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <input
      required
      name="email"
      [ngModel]="user.email"
      applyTransparentInputClass
      class="mb-4"
      type="text"
      placeholder="E-Mail"
    />
    <!-- <i
  class="w-full text-md opacity-75 font-bold text-red"
  *ngIf="errors.username !== ''"
  >{{ errors.username }}</i
  > -->
    <input
      required
      [ngModel]="user.password"
      name="password"
      applyTransparentInputClass
      class="mb-2"
      type="password"
      placeholder="Password"
    />
    <!-- <i
  class="w-full text-md opacity-75 font-bold text-red"
  *ngIf="errors.password !== ''"
  >{{ errors.password }}</i
  > -->
  <app-welcome-form-link-right to="reset-password" anchor="Forgot your password?"></app-welcome-form-link-right>

  <!-- <div
class="w-full items-start justify-start p-4 bg-white border-2 border-white border-solid rounded-lg opacity-75"
*ngIf="errors.general !== ''"
>
<p class="w-full text-md opacity-75 mt-4 font-bold text-red">
  {{ errors.general }}
</p>
</div> -->
  <button
    applyTransparentButtonClass
    [disabled]="isLoading"
  >
    Sign In
  </button>
  <app-welcome-form-footer to="signup" text="Don't have an account?" anchor="Sign Up"></app-welcome-form-footer>
</form>
