@import '../../styles';

:host {
  padding-top: 90px;
  display: flex;
  min-width: 100vw;
  width: 100%;

  ::ng-deep {

    shared-loading-indicator {
      text-align: center;
    }

    .story {
      display: block;
      margin: 0 auto;
      word-break: break-word;
      word-wrap: break-word;
    }

    @include media-breakpoint-down(xl) {
      .story {
        width: 700px;
      }
    }


    @include media-breakpoint-down(md) {
      .story {
        width: 100%;
        padding: 0px 1rem 0px 1rem;
      }
    }
  }
}
