<div
  class="text-center mt-5"
>
  <ul class="list-inline">
    <li class="list-inline-item">
    <a
      [routerLink]="['/about']"
      class="nav-link text-white"
      >About</a
    >
    </li>
    <li class="list-inline-item">
    <a
    class="nav-link text-white"
      href="https://honest.cash/honest_cash/frequently-asked-questions"
      >FAQ</a
    >
    </li>
    <li class="list-inline-item">
    <a
      class="nav-link text-white"
      href="https://honest.cash/honest_cash/honest-cash-transparency-report-and-warrant-canary-129"
      >Transparency</a
    >
    </li>
    <li class="list-inline-item">
    <a
      href="https://honest.cash/honest_cash/honest-cash-terms-of-service-124"
      class="nav-link text-white"
      >Terms</a
    >
    </li>
    <li class="list-inline-item">
    <a
      href="https://honest.cash/honest_cash/honestcash-privacy-policy"
      class="nav-link text-white"
      >Privacy</a
    >
    </li>
  </ul>
  <span
    class="nav-link text-white"
    >&copy; 2019 Honest</span
  >
</div>
