<div
  class="
    flex
    flex-wrap
    items-end
    justify-start
    w-full
    h-full
    lg:text-center
    md:text-center
    sm:text-center
    xs:text-center
    xxxl:px-32
    xxl:px-32
    xl:px-32
    lg:px-16
    md:px-8
    sm:px-4
    xs:px-2
    pb-4
  "
>
  <a
    [routerLink]="['/about']"
    class="inline-block xs:block xs:w-full sm:block sm:w-full md:block md:w-full lg:block lg:w-full text-white hover:text-white no-underline hover:underline font-semibold"
    >About</a
  >
  <a
    href="https://honest.cash/honest_cash/frequently-asked-questions"
    class="inline-block xs:block xs:w-full sm:block sm:w-full md:block md:w-full lg:block lg:w-full ml-10 xs:ml-0 xs:mt-4 sm:ml-0 sm:mt-4 md:ml-0 md:mt-4 lg:ml-0 lg:mt-4 text-white hover:text-white no-underline hover:underline font-semibold"
    >FAQ</a
  >
  <a
    href="https://honest.cash/honest_cash/honest-cash-transparency-report-and-warrant-canary-129"
    class="inline-block xs:block xs:w-full sm:block sm:w-full md:block md:w-full lg:block lg:w-full ml-10 xs:ml-0 xs:mt-4 sm:ml-0 sm:mt-4 md:ml-0 md:mt-4 lg:ml-0 lg:mt-4 text-white hover:text-white no-underline hover:underline font-semibold"
    >Transparency</a
  >
  <a
    href="https://honest.cash/honest_cash/honest-cash-terms-of-service-124"
    class="inline-block xs:block xs:w-full sm:block sm:w-full md:block md:w-full lg:block lg:w-full ml-10 xs:ml-0 xs:mt-4 sm:ml-0 sm:mt-4 md:ml-0 md:mt-4 lg:ml-0 lg:mt-4 text-white hover:text-white no-underline hover:underline font-semibold"
    >Terms</a
  >
  <a
    href="https://honest.cash/honest_cash/honestcash-privacy-policy"
    class="inline-block xs:block xs:w-full sm:block sm:w-full md:block md:w-full lg:block lg:w-full ml-10 xs:ml-0 xs:mt-4 sm:ml-0 sm:mt-4 md:ml-0 md:mt-4 lg:ml-0 lg:mt-4 text-white hover:text-white no-underline hover:underline font-semibold"
    >Privacy</a
  >
  
  <span
    class="inline-block w-full xs:mt-4 sm:mt-4 md:mt-4 lg:mt-4 xs:mt-4 xs:mb-4 text-white hover:text-white font-semibold"
    >&copy; 2019 Honest.cash</span
  >
</div>
