<div *ngIf="story && story.parentPost" id="parent-post" class="card">
  <div class="card-header">
    Commenting on:
    <a
      target="_blank"
      href="/{{ story.parentPost.user.username }}/{{story.parentPost.alias}}">
      <strong>{{story.parentPost.title}}</strong> by <strong>{{story.parentPost.user.username}}</strong>
    </a>
  </div>
  <div class="card-body" [innerHTML]="story.parentPost.body" [ngClass]="{'open': isBodyOpen}"></div>
  <div class="card-footer" (click)="toggleBody()">
    <hr class="hr-text" [attr.data-content]="isBodyOpen ? 'collapse' : 'expand'">
  </div>
</div>
