<div class="row" ng-style="styles">
  <div class="push feed">
    <div class="feed-header">
      <div class="feed-author">
        <ul class="list-unstyled">
          <li>
            <img
              fallback-src="{{ '/img/avatar.png' }}"
              ng-src="{{
                feed.user.imageUrl ? feed.user.imageUrl : '/img/avatar.png'
              }}"
            />
          </li>

          <li>
            <strong style="margin-top:15px;">
              <a ui-sref="vicigo.profile({ profileId:feed.user.username })">
                <span class="user-follower-count">{{
                  feed.user.username
                }}</span>
              </a>
            </strong>
          </li>

          <li
            ng-if="feed.parentPostId || feed.feedMetaInfo.type === 'followerUpvote'"
          >
            <span style="margin-top:15px;"> • </span>
          </li>

          <li ng-if="feed.parentPostId">
            <span style="margin-top:15px;"> <small>Response</small> </span>
          </li>

          <li
            ng-if="feed.parentPostId && feed.feedMetaInfo.type === 'followerUpvote'"
          >
            <span style="margin-top:15px;"> • </span>
          </li>

          <li ng-if="feed.feedMetaInfo.type === 'followerUpvote'">
            <span style="margin-top:15px;">
              <small
                ><a
                  target="_self"
                  href="/profile/{{ feed.feedMetaInfo.data.username }}"
                  >{{ feed.feedMetaInfo.data.username }}</a
                >
                upvoted it.</small
              >
            </span>
          </li>

          <li class="feed-date">
            <span class="text-muted">
              <small>{{ feed.publishedAtFormatted }}</small>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <a
      ui-sref="vicigo.post({ postId: feed.id, alias: feed.alias || feed.id, username: feed.user.username })"
    >
      <div class="post-feed-body">
        <div class="feed-title">
          <h3>
            <strong> {{ feed.title }} </strong>
          </h3>
        </div>

        <div ng-if="feed.imageUrl" class="feed-image">
          <lazy-img
            ng-if="feed.imageUrl"
            class="lazy"
            ng-src="{{ trustSrc(feed.imageUrl) }}"
            alt="image"
          ></lazy-img>
        </div>

        <div class="feed-body">
          <article ng-if="feed.plain" class="feed-article">
            {{feed.plain | limitTo: 100}}{{feed.plain.length > 100 ? '' : '...'}}
          </article>
        </div>
      </div>
    </a>

    <div class="feed-footer">
      <div class="row hashtags" ng-if="feed.userPostHashtags.length">
        <div class="col-xs-12">
          <div style="padding-left:8px;padding-right:5px;">
            <span
              class="pull-left hashtag-container"
              ng-repeat="hashtag in feed.userPostHashtags"
            >
              <a
                class="hashtag"
                ui-sref="vicigo.hashtag({ hashtag : hashtag.hashtag })"
                >{{ ::hashtag.hashtag }}</a
              >
            </span>
          </div>
        </div>
      </div>

      <div
        class="row feed-actions"
        style="padding-top: 10px; padding-bottom: 10px;"
      >
        <div class="col-xs-12">
          <ul class="list-unstyled list-inline list list-post-actions">
            <li>
              <upvote-button
                post="feed"
              ></upvote-button>
            </li>
            <li>
              <span
                >{{ feed.upvoteCount }} <i class="fa fa-bitcoin"></i
              ></span>
            </li>
            <li>
              <span
                >{{ feed.responseCount }} <i class="fa fa-comment-o"></i
              ></span>
            </li>
            <li>
              <social-share-buttons post="feed"></social-share-buttons>
            </li>
            <li ng-if="feed.hasPaidSection && !feed.hasBeenPaidFor" class="hc-tooltip" data-tippy-content="This story has a pay to unlock section." style="float: right; margin-right: 10px;"><i class="fa fa-2x fa-lock"></i></li>
            <li ng-if="feed.hasPaidSection && feed.hasBeenPaidFor" class="hc-tooltip" data-tippy-content="This story has a paid section however you have access to the post." style="float: right; margin-right: 10px;"><i class="fa fa-2x fa-unlock"></i></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
