<div class="card-body">
  <div class="row">
    <div class="col">
      <h3>A place to publish your best work and discuss freely</h3>
      <p>The internet should reward quality thinking and be a place for an uncensored discussion. That’s why we’ve created a better home for writers, creators and thinkers. Honest allows you to earn money for your content, connects you to curious, avid readers, it's a place that is free from ads, uncensorable and simple to use, so you can focus on what matters: putting your best work out there to work for you.
        <br>
        For writers, creatives and thinkers, <b>Honest</b> is a content publishing platform where users can earn Bitcoin by creating value.</p>
      <p >
        <b>honest.cash</b> is proud to be featured on <a href="https://news.bitcoin.com/content-creators-can-earn-bch-using-the-honest-cash-platform/" target="_blank">bitcoin.com</a>,
        <a target="_blank" href="https://blog.btc.com/btc-com-news-digest-7fc31e947fb3">btc.com</a> and
        <a target="_blank" href="https://coinspice.io/news/adrian-barwicki-honest-cash/">coinspice</a>.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr style="border-color: white;">
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <h3 class="text-center text-uppercase font-weight-bold">Benefits for Writers, Creatives and Thinkers</h3>
      <p class="text-center">You are rewarded by readers, directly!</p>
      <p class="text-center">On Honest, you are paid with Bitcoin based on the amount of upvotes that your story receives. The upvotes are distributed directly to you without any intermediary in between. It happens instantly as the reader clicks the upvote button. The only thing you need to do is to secure your wallet recovery phrase and write amazing content.</p>
      <ul class="list-group">
        <li class="list-group-item">
          <p class="font-weight-bold text-uppercase">Write something good <fa-icon [icon]="['fas', 'heart']"></fa-icon></p>
          <p>Share your thinking about something that matters to you. It can be short or long, serious or funny, reported or opinionated - it’s the quality of your perspective that counts.</p>
        </li>
        <li class="list-group-item text-right">
          <p class="font-weight-bold text-uppercase"><fa-icon [icon]="['fas', 'share-alt']"></fa-icon> Put your story to work</p>
          <p>If you’d like to earn money through your stories, make sure to backup your wallet recovery phrase in your wallet and you're good to go!</p>
        </li>
        <li class="list-group-item">
          <p class="font-weight-bold text-uppercase">Get featured <fa-icon [icon]="['fas', 'terminal']"></fa-icon></p>
          <p>Our editorial team reviews stories every day. When a story meets our Honest standards, a curator will recommend it to readers interested in relevant topics across Honest.Cash, our app, and email digests.</p>
        </li>
        <li class="list-group-item text-right">
          <p class="font-weight-bold text-uppercase"><fa-icon [icon]="['fab', 'bitcoin']"></fa-icon> Get paid instantly</p>
          <p>The readers can upvote your story and the money is directly deposited to your non-custodial wallet that only you have a control over!</p>
        </li>
        <li class="list-group-item">
          <p class="font-weight-bold text-uppercase">Expand your audience <fa-icon [icon]="['fas', 'retweet']"></fa-icon></p>
          <p>Your story doesn’t end here. Keep writing about what you love to build and broaden your readership. We’ll help spread the word, too. Also, your followers are directly notified about your new stories.</p>
        </li>
        <li class="list-group-item text-right">
          <p class="font-weight-bold text-uppercase"><fa-icon [icon]="['fas', 'globe']"></fa-icon> Make your story live forever</p>
          <p>You can make your content uncensorable so it can never be removed from the internet. You can upload your story onto blockchain and make it accessible to other publishing platforms around the world.</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <h3 class="text-center text-uppercase font-weight-bold">Benefits for Readers</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <p class="font-weight-bold text-uppercase">Earn for upvoting content <fa-icon [icon]="['fab', 'bitcoin']"></fa-icon></p>
          <p>You can earn Bitcoin Cash by voting on good content early. Each vote costs a little fraction of Bitcoin and the payment goes to earlier voters and the creator. If many people vote on the same content after you, you profit.</p>
        </li>
        <li class="list-group-item text-right">
          <p class="font-weight-bold text-uppercase"><fa-icon [icon]="['fas', 'terminal']"></fa-icon> Personalize your experience</p>
          <p>Logging in to your Honest account allows us to deliver the most relevant and timely stories directly to you, based on your interests. When you follow users, topics and communities on Honest, you’re customizing the content you receive.</p>
        </li>
        <li class="list-group-item">
          <p class="font-weight-bold text-uppercase">Place for discussion <fa-icon [icon]="['fas', 'comments']"></fa-icon></p>
          <p>In order to respect open discussion and debate, Honest allows you to make your content uncensorable. You can upload your story onto blockchain and make it accessible to other publishing platforms around the world.</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col">
      <h3 class="text-uppercase font-weight-bold text-center">What people say about HC?</h3>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col"><img class="w-100" src="assets/images/twitter-1.jpg" alt=""></div>
    <div class="col"><img class="w-100" src="assets/images/twitter-2.jpg" alt=""></div>
    <div class="col"><img class="w-100" src="assets/images/twitter-3.jpg" alt=""></div>
  </div>
  <div class="row mb-2">
    <div class="col">
      <h3 class="text-uppercase font-weight-bold text-center">Honest Team</h3>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <img class="rounded-circle d-block w-50 mx-auto" src="assets/images/adrian.jpg" alt="">
      <a href="https://honest.cash/profile/adrianbarwicki" target="_blank">Adrian Barwicki</a>
    </div>
    <div class="col text-center">
      <img class="rounded-circle d-block w-50 mx-auto" src="assets/images/ani.jpg" alt="">
      <a href="https://honest.cash/profile/calisi" target="_blank">Ani Calis</a>
    </div>
    <div class="col text-center">
      <img class="rounded-circle d-block w-50 mx-auto" src="assets/images/emily.jpg" alt="">
      <a href="https://honest.cash/profile/emrosedallara" target="_blank">Emily Rose Dallara</a>
    </div>
    <div class="col text-center">
      <img class="rounded-circle d-block w-50 mx-auto" src="assets/images/sercan.jpg" alt="">
      <a href="https://honest.cash/profile/sercanakman" target="_blank">Sercan Akman</a>
    </div>
    <div class="col text-center">
      <img class="rounded-circle d-block w-50 mx-auto" src="assets/images/jenny.jpg" alt="">
      <a href="https://honest.cash/profile/jennylin" target="_blank">Jenny Lin</a>
    </div>
  </div>
</div>
