@import '../../../../styles';

.container {
  height: 100%;
  align-content: center;
}

:host {
  width: 800px;
  @include background-opacity($white, 5);
}

ul.list-group > li.list-group-item {
  @include background-opacity($white, 5);
}
