<editor-header [editingMode]="EDITOR_EDITING_MODES.Edit"></editor-header>
<div class="mt-5 mb-5 story-preview__wrapper">
  <ngb-tabset justify="justified" *ngIf="story && user">
    <ngb-tab title="Author View">
      <ng-template ngbTabContent>
        <div class="row mb-2">
          <div class="col">
            <h1 class="story-title">{{story.title || "No title"}}</h1>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-1 pr-0">
            <app-avatar [src]="user.imageUrl" large="true"></app-avatar>
          </div>
          <div class="col">
            <div class="row">
              <div class="col">
                <a class="font-weight-bold">{{user.username}}</a>
                <button type="button" class="btn btn-light btn-xs ml-2">Follow</button>
              </div>
            </div>
            <div class="row">
              <div class="col text-muted">
                {{story.updatedAt | date:'MMM d, yy'}}
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="story.bodyJSON" class="row mb-5">
          <div class="col story-body">
            <div
              #bodyJSON
              *ngFor="let block of story.bodyJSON; let index = index;"
              [innerHTML]="convertBlockToHtml(block)">
            </div>
          </div>
        </div>
        <div *ngIf="story.hashtags && story.hashtags.length" class="row">
          <div class="col">
            <a *ngFor="let tag of story.hashtags; let i = index;" [ngClass]="{'ml-2': i > 0}"
               class="badge badge-light p-3 font-weight-normal small">{{tag.hashtag}}</a>
          </div>
        </div>
        <div *ngIf="!story.hashtags || (story.hashtags && !story.hashtags.length)" class="row">
          <div class="col">
            <small class="badge badge-light p-3 font-weight-normal">No tags
              added
            </small>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab *ngIf="story.hasPaidSection && user" title="Locked View">
      <ng-template ngbTabContent>
        <div class="row mb-2">
          <div class="col">
            <h1 class="story-title">{{story.title || "No title"}}</h1>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-1 pr-0">
            <app-avatar [src]="user.imageUrl" large="true"></app-avatar>
          </div>
          <div class="col">
            <div class="row">
              <div class="col">
                <a class="font-weight-bold">{{user.username}}</a>
                <button type="button" class="btn btn-light btn-xs ml-2">Follow</button>
              </div>
            </div>
            <div class="row">
              <div class="col text-muted">
                {{story.updatedAt | date:'MMM d, yy'}}
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="story.bodyJSON" class="row mb-5">
          <div class="col story-body">
            <div
              #bodyJSONFree
              *ngFor="let block of freeBodyJSON; let index = index;"
              [innerHTML]="convertBlockToHtml(block)">
            </div>
            <editor-paid-section-unlocker [story]="story"></editor-paid-section-unlocker>
          </div>
        </div>
        <div *ngIf="story.hashtags && story.hashtags.length" class="row">
          <div class="col">
            <a *ngFor="let tag of story.hashtags; let i = index;" [ngClass]="{'ml-2': i > 0}"
               class="badge badge-light p-3 font-weight-normal small">{{tag.hashtag}}</a>
          </div>
        </div>
        <div *ngIf="!story.hashtags || (story.hashtags && !story.hashtags.length)" class="row">
          <div class="col">
            <small class="badge badge-light p-3 font-weight-normal">No tags
              added
            </small>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab *ngIf="story.hasPaidSection && user" title="Unlocked View">
      <ng-template ngbTabContent>
        <div class="row mb-2">
          <div class="col">
            <h1 class="story-title">{{story.title || "No title"}}</h1>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-1 pr-0">
            <app-avatar [src]="user.imageUrl" large="true"></app-avatar>
          </div>
          <div class="col">
            <div class="row">
              <div class="col">
                <a class="font-weight-bold">{{user.username}}</a>
                <button type="button" class="btn btn-light btn-xs ml-2">Follow</button>
              </div>
            </div>
            <div class="row">
              <div class="col text-muted">
                {{story.updatedAt | date:'MMM d, yy'}}
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="story.bodyJSON" class="row mb-5">
          <div class="col story-body">
            <div
              #bodyJSONPaid
              *ngFor="let block of paidBodyJSON; let index = index;"
              [innerHTML]="convertBlockToHtml(block)">
            </div>
          </div>
        </div>
        <div *ngIf="story.hashtags && story.hashtags.length" class="row">
          <div class="col">
            <a *ngFor="let tag of story.hashtags; let i = index;" [ngClass]="{'ml-2': i > 0}"
               class="badge badge-light p-3 font-weight-normal small">{{tag.hashtag}}</a>
          </div>
        </div>
        <div *ngIf="!story.hashtags || (story.hashtags && !story.hashtags.length)" class="row">
          <div class="col">
            <small class="badge badge-light p-3 font-weight-normal">No tags
              added
            </small>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
