<app-welcome-heading
  title="Forgot your password? No worries."
  description="Enter your e-mail address below to reset"
></app-welcome-heading>
<app-welcome-form>
  <input
    applyTransparentInputClass
    type="text"
    placeholder="Username"
    ng-model="data.username"
  />
  <!-- <i
    class="w-full mx-12text-md opacity-75 font-bold text-red"
    ng-if="errors.username !== ''"
    >{{ errors.username }}</i
  > -->

  <!-- <div
    class="w-full items-start justify-start p-4 bg-white border-2 border-white border-solid rounded-lg opacity-75"
    ng-if="errors.general !== ''"
  >
    <p class="w-full text-md opacity-75 mt-4 font-bold text-red">
      {{ errors.general }}
    </p>
  </div> -->
  <button
    class="w-full px-24 lg:px-16 sm:px-16 py-4 bg-transparent border-2 border-white border-solid font-bold text-white uppercase rounded-lg mt-6 opacity-75"
    ng-disabled="isLoading"
    ng-click="signup()"
  >
    <!-- {{ isLoading ? 'Please Wait...' : 'Get Reset Link' }} -->
    Get Reset Link
  </button>
  <p
    class="w-full px-16 lg:px-8 sm:px-8 text-center text-white hover:text-white mt-8 cursor-pointer"
  >
    <a
      [routerLink]="['/login']"
      class="font-bold text-white hover:text-white underline"
      >Back to sign in</a
    >
  </p>
</app-welcome-form>
<!-- <div class="row">
    <div class="col-md-4">
      <h1>Log in</h1>
      <hr><br>
      <div *ngIf="errorMessage">
        <div class="alert alert-danger" role="alert">
          {{errorMessage}}
        </div>
      </div>
      <form (ngSubmit)="onSubmit()" ngNativeValidate>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            [(ngModel)]="user.email"
            name="email"
            type="email"
            required
            class="form-control"
            id="email"
            placeholder="enter your email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            [(ngModel)]="user.password"
            name="password"
            type="password"
            required
            class="form-control"
            id="password"
            placeholder="enter a password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a [routerLink]="['/']" class="btn btn-success">Cancel</a>
      </form>
      <p>
        <span>Don't have an account?&nbsp;</span>
        <a [routerLink]="['/signup']">Sign up!</a>
      </p>
    </div>
  </div> -->
<!-- <div class="row">
  <div class="col-md-4">
    <h1>Sign up</h1>
    <hr><br>
    <div *ngIf="errorMessage">
      <div class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
    </div>
    <form (ngSubmit)="onSubmit()" ngNativeValidate>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          [(ngModel)]="user.email"
          name="email"
          type="email"
          required
          class="form-control"
          id="email"
          placeholder="enter your email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          [(ngModel)]="user.password"
          name="password"
          type="password"
          required
          class="form-control"
          id="password"
          placeholder="enter a password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <a [routerLink]="['/']" class="btn btn-success">Cancel</a>
    </form>
    <p>
      <span>Already have an account?&nbsp;</span>
      <a [routerLink]="['/login']">Log in!</a>
    </p>
  </div>
</div> -->
