<app-welcome-heading
  *ngIf="!(authState | async).newPasswordRequested"
  title="Forgot your password? No worries."
  description="Enter your e-mail address below to reset"
></app-welcome-heading>
<div
  *ngIf="!(authState | async).newPasswordRequested"
  class="
    flex
    flex-wrap
    items-center
    justify-center
    xs:w-full
    sm:w-3/5
    md:w-1/2
    lg:w-1/3
    xl:w-1/4
    xxl:w-1/5
    xxxl:w-1/6
    mx-auto
    xs:px-4
    text-center
    mb-8
  "
>
  <form
    class="w-full" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit(f)" novalidate>
    <div class="w-full mb-4 relative">
      <input
        required
        name="email"
        #email="ngModel"
        [ngModel]="user.email"
        [ngClass]="{ 'border-red': f.submitted && email.invalid }"
        class="w-full p-4 bg-white border-2 border-transparent border-solid font-bold text-black rounded-lg opacity-80"
        type="text"
        placeholder="E-Mail"
        email
      />
      <span
        class="absolute text-red cursor-pointer transform-y-center"
        *ngIf="f.submitted && email.invalid"
      >
        <i
          *ngIf="email.errors.required"
          class="fas fa-exclamation-circle"
          tooltip="E-mail is required"
          placement="right"
          delay="500"
        ></i>
        <i
          *ngIf="email.errors.email"
          class="fas fa-exclamation-circle"
          tooltip="E-mail must be a valid e-mail address"
          placement="right"
          delay="500"
        ></i>
      </span>
    </div>

    <div *ngIf="errorMessage" class="w-full flex justify-center mb-4 p-4 bg-white border-2 text-sm border-transparent border-solid font-bold text-red rounded-lg opacity-80">
      <span>{{errorMessage}}</span>
    </div>

    <app-welcome-fat-loading-button text="Get Reset Link" loadingText="Getting Reset Link" [isLoading]="isLoading"></app-welcome-fat-loading-button>
    <app-welcome-form-footer
      anchor="Back to sign in"
      to="login"
    ></app-welcome-form-footer>
  </form>
</div>

<div
  *ngIf="(authState | async).newPasswordRequested"
  class="
    flex
    flex-wrap
    items-center
    justify-center
    xs:w-full
    sm:w-3/5
    md:w-1/2
    lg:w-1/3
    xl:w-1/4
    xxl:w-1/5
    xxxl:w-1/6
    mx-auto
    xs:px-4
    text-center
    mb-8
  "
>
  <div class="w-full flex justify-center mb-4 p-4 bg-white border-2 text-sm border-transparent border-solid text-black font-bold rounded-lg opacity-80">
    <span>Instructions on how to reset your password were sent to your email.</span>
  </div>
</div>
