<app-welcome-heading
  title="Forgot your password? No worries."
  description="Enter your e-mail address below to reset"
></app-welcome-heading>
<div
  class="
    flex
    flex-wrap
    items-center
    justify-center
    xs:w-full
    sm:w-3/5
    md:w-1/2
    lg:w-1/3
    xl:w-1/4
    xxl:w-1/5
    xxxl:w-1/6
    mx-auto
    xs:px-4
    text-center
    mb-8
  "
>
  <form
    class="w-full" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit(f)" novalidate>
    <div class="w-full mb-4 relative">
      <input
        required
        minlength="3"
        maxlength="25"
        appForbiddenUsername
        name="username"
        #username="ngModel"
        [ngModel]="user.username"
        [ngClass]="{ 'border-red': f.submitted && username.invalid }"
        class="w-full p-4 bg-white border-2 border-transparent border-solid font-bold text-black rounded-lg opacity-80"
        type="text"
        placeholder="Username"
      />
      <span
        class="absolute text-red cursor-pointer transform-y-center"
        *ngIf="f.submitted && username.invalid">
        <i *ngIf="username.errors.required" class="fas fa-exclamation-circle" tooltip="Username is required" placement="right" delay="500"></i>
        <i
        *ngIf="username.errors.minlength"
        class="fas fa-exclamation-circle"
        tooltip="Username must be at least 3 characters long"
        placement="right"
        delay="500"
      ></i>
        <i
        *ngIf="username.errors.maxlength"
        class="fas fa-exclamation-circle"
        tooltip="Username cannot be longer than 25 characters"
        placement="right"
        delay="500"
      ></i>
      <i
        *ngIf="username.errors.forbiddenUsername"
        class="fas fa-exclamation-circle"
        tooltip="Username can only contain alpha-numeric characters"
        placement="right"
        delay="500"
      ></i>
      </span>
    </div>
    <app-welcome-fat-loading-button text="Get Reset Link" loadingText="Getting Reset Link" [isLoading]="isLoading"></app-welcome-fat-loading-button>
    <app-welcome-form-footer
      anchor="Back to sign in"
      to="login"
    ></app-welcome-form-footer>
  </form>
</div>
