<div class="w-3/4 xs:w-full sm:w-full xs:mt-4 sm:mt-4 sm:w-full md:w-full lg:w-full xs:p-4 sm:p-4 md:p-4 lg:p-4 h-full py-8">
    <div class="w-full mb-8">
        <img src="https://honest.cash/img/honest-long-logo.png" class="w-32" alt="Honest Logo">
    </div>
    <div class="w-full">
        <h3 class="text-3xl font-normal">A place to publish your best work and discuss freely</h3>
        <p class="text-sm leading-loose mb-6">The internet should reward quality thinking and be a place for an uncensored discussion. That’s why we’ve created a better home for writers, creators and thinkers. Honest allows you to earn money for your content, connects you to curious, avid readers, it's a place that is free from ads, uncensorable and simple to use, so you can focus on what matters: putting your best work out there to work for you.
        <br>
        For writers, creatives and thinkers, <b>Honest</b> is a content publishing platform where users can earn Bitcoin by creating value.</p>
        <p class="text-sm leading-loose">
            <b>honest.cash</b> is proud to be featured on <a
            class="no-underline cursor-pointer text-hc-blue hover:text-hc-blue-dark" href="https://news.bitcoin.com/content-creators-can-earn-bch-using-the-honest-cash-platform/">bitcoin.com</a>,
            <a class="no-underline cursor-pointer text-hc-blue hover:text-hc-blue-dark"  href="https://blog.btc.com/btc-com-news-digest-7fc31e947fb3">btc.com</a> and
            <a class="no-underline cursor-pointer text-hc-blue hover:text-hc-blue-dark"  href="https://coinspice.io/news/adrian-barwicki-honest-cash/">coinspice</a>.
          </p>
    </div>
    <hr class="border-0 border-t border-grey-light my-12">
    <div class="w-full text-center">
        <h3 class="block w-full font-normal text-2xl uppercase mb-8">Benefits for Writers, Creatives and Thinkers</h3>
        <div class="flex flex-wrap w-full">
            <div class="w-1/3 xs:w-full sm:w-full xs:mt-4 sm:mt-4 px-4">
                <p><i class="fas fa-heart text-3xl"></i></p>
                <p class="my-8 font-bold">Write something good</p>
                <p class="text-sm">Share your thinking about something that matters to you. It can be short or long, serious or funny, reported or opinionated - it’s the quality of your perspective that counts.</p>
            </div>
            <div class="w-1/3 xs:w-full sm:w-full xs:mt-4 sm:mt-4 px-4">
                <p><i class="fas fa-share-alt text-3xl"></i></p>
                <p class="my-8 font-bold">Put your story to work</p>
                <p class="text-sm">If you’d like to earn money through your stories, make sure to backup your wallet recovery phrase in your wallet and you're good to go!</p>
            </div>
            <div class="w-1/3 xs:w-full sm:w-full xs:mt-4 sm:mt-4 px-4">
                <p><i class="fas fa-terminal text-3xl"></i></p>
                <p class="my-8 font-bold">Get featured</p>
                <p class="text-sm">Our editorial team reviews stories every day. When a story meets our Honest standards, a curator will recommend it to readers interested in relevant topics across Honest.Cash, our app, and email digests.</p>
            </div>
        </div>
        <div class="flex flex-wrap w-full mt-8">
            <div class="w-1/3 xs:w-full sm:w-full xs:mt-4 sm:mt-4 px-4">
                <p><i class="fab fa-bitcoin text-3xl"></i></p>
                <p class="my-8 font-bold">Get paid instantly</p>
                <p class="text-sm">The readers can upvote your story and the money is directly deposited to your non-custodial wallet that only you have a control over!</p>
            </div>
            <div class="w-1/3 xs:w-full sm:w-full xs:mt-4 sm:mt-4 px-4">
                <p><i class="fas fa-retweet text-3xl"></i></p>
                <p class="my-8 font-bold">Expand your audience</p>
                <p class="text-sm">Your story doesn’t end here. Keep writing about what you love to build and broaden your readership. We’ll help spread the word, too. Also, your followers are directly notified about your new stories.</p>
            </div>
            <div class="w-1/3 xs:w-full sm:w-full xs:mt-4 sm:mt-4 px-4">
                <p><i class="fas fa-globe text-3xl"></i></p>
                <p class="my-8 font-bold">Make your story live forever</p>
                <p class="text-sm">You can make your content uncensorable so it can never be removed from the internet. You can upload your story onto blockchain and make it accessible to other publishing platforms around the world.</p>
            </div>
        </div>
    </div>
    <hr class="border-0 border-t border-grey-light my-12">
    <div class="w-full text-center">
        <h3 class="block w-full font-normal text-2xl uppercase mb-8">BENEFITS FOR READERS</h3>
        <p class="font-bold my-8">You are rewarded by readers, directly!</p>
        <p class="text-sm mb-8">On Honest, you are paid with Bitcoin based on the amount of upvotes that your story receives. The upvotes are distributed directly to you without any intermediary in between. It happens instantly as the reader clicks the upvote button. The only thing you need to do is to secure your wallet recovery phrase and write amazing content.</p>
        <div class="flex flex-wrap w-full">
            <div class="w-1/3 xs:w-full sm:w-full xs:mt-4 sm:mt-4 px-4">
                <p><i class="fab fa-bitcoin text-3xl"></i></p>
                <p class="my-8 font-bold">Earn for upvoting content</p>
                <p class="text-sm">You can earn Bitcoin Cash by voting on good content early. Each vote costs a little fraction of Bitcoin and the payment goes to earlier voters and the creator. If many people vote on the same content after you, you profit.</p>
            </div>
            <div class="w-1/3 xs:w-full sm:w-full xs:mt-4 sm:mt-4 px-4">
                <p><i class="fas fa-terminal text-3xl"></i></p>
                <p class="my-8 font-bold">Personalize your experience</p>
                <p class="text-sm">Logging in to your Honest account allows us to deliver the most relevant and timely stories directly to you, based on your interests. When you follow users, topics and communities on Honest, you’re customizing the content you receive.</p>
            </div>
            <div class="w-1/3 xs:w-full sm:w-full xs:mt-4 sm:mt-4 px-4">
                <p><i class="fas fa-comments text-3xl"></i></p>
                <p class="my-8 font-bold">Place for discussion</p>
                <p class="text-sm">In order to respect open discussion and debate, Honest allows you to make your content uncensorable. You can upload your story onto blockchain and make it accessible to other publishing platforms around the world.</p>
            </div>
        </div>
    </div>
    <hr class="border-0 border-t border-grey-light my-12">
    <div class="w-full text-center">
        <h3 class="block w-full font-normal text-2xl uppercase mb-8">What people say about HC?</h3>
        <div class="flex flex-wrap w-full">
            <div class="w-1/3 xs:w-full sm:w-full md:w-full xs:mt-4 sm:mt-4 md:mt-4 px-4">
                <img src="https://honest.cash/img/twitter-1.jpg" alt="">
            </div>
            <div class="w-1/3 xs:w-full sm:w-full md:w-full xs:mt-4 sm:mt-4 md:mt-4 px-4">
                <img src="https://honest.cash/img/twitter-2.jpg" alt="">
            </div>
            <div class="w-1/3 xs:w-full sm:w-full md:w-full xs:mt-4 sm:mt-4 md:mt-4 px-4">
                <img src="https://honest.cash/img/twitter-3.jpg" alt="">
            </div>
        </div>
    </div>
    <hr class="border-0 border-t border-grey-light my-12">
    <div class="w-full text-center">
        <h3 class="block w-full font-normal text-2xl uppercase mb-8">Honest Team</h3>
        <div class="flex flex-wrap w-full">
            <div class="
                w-1/5
                xs:w-full
                sm:w-full
                md:w-1/2
                lg:w-1/2
                xl:w-1/3
                xxl:w-1/3
                xxxl:w-1/4
                xs:mt-4
                sm:mt-4
                md:mt-4
                lg:mt-4
                px-4
            ">
                <img class="block rounded-full w-48 h-48 mb-4 mx-auto" src="https://honest.cash/img/adrian.jpg" alt="">
                <a class="no-underline text-hc-blue hover:text-hc-blue-dark cursor-pointer" href="https://honest.cash/profile/adrianbarwicki">Adrian Barwicki</a>
            </div>
            <div class="
                w-1/5
                xs:w-full
                sm:w-full
                md:w-1/2
                lg:w-1/2
                xl:w-1/3
                xxl:w-1/3
                xxxl:w-1/4
                xs:mt-4
                sm:mt-4
                md:mt-4
                lg:mt-4
                px-4
            ">
                <img class="block rounded-full w-48 h-48 mb-4 mx-auto" src="https://honest.cash/img/ani.jpg" alt="">
                <a class="no-underline text-hc-blue hover:text-hc-blue-dark cursor-pointer" href="https://honest.cash/profile/calisi">Ani Calis</a>
            </div>
            <div class="
                w-1/5
                xs:w-full
                sm:w-full
                md:w-1/2
                lg:w-1/2
                xl:w-1/3
                xxl:w-1/3
                xxxl:w-1/4
                xs:mt-4
                sm:mt-4
                md:mt-4
                lg:mt-4
                px-4
            ">
                <img class="block rounded-full w-48 h-48 mb-4 mx-auto" src="https://honest.cash/img/emily.jpg" alt="">
                <a class="no-underline text-hc-blue hover:text-hc-blue-dark cursor-pointer" href="https://honest.cash/profile/emrosedallara">Emily Rose Dallara</a>
            </div>
            <div class="
                w-1/5
                xs:w-full
                sm:w-full
                md:w-1/2
                lg:w-1/2
                xl:w-1/3
                xxl:w-1/3
                xxxl:w-1/4
                xs:mt-4
                sm:mt-4
                md:mt-4
                lg:mt-4
                px-4
            ">
                <img class="block rounded-full w-48 h-48 mb-4 mx-auto" src="https://honest.cash/img/sercan.jpg" alt="">
                <a class="no-underline text-hc-blue hover:text-hc-blue-dark cursor-pointer" href="https://honest.cash/profile/sercanakman">Sercan Akman</a>
            </div>
            <div class="
                w-1/5
                xs:w-full
                sm:w-full
                md:w-1/2
                lg:w-1/2
                xl:w-1/3
                xxl:w-1/3
                xxxl:w-1/4
                xs:mt-4
                sm:mt-4
                md:mt-4
                lg:mt-4
                px-4
            ">
                <img class="block rounded-full w-48 h-48 mb-4 mx-auto" src="https://honest.cash/img/sercan.jpg" alt="">
                <a class="no-underline text-hc-blue hover:text-hc-blue-dark cursor-pointer" href="https://honest.cash/profile/adrianbarwicki">Jenny Lin</a>
            </div>
        </div>
    </div>
    
</div>