.hc-header-submenu > ul > li > a {
  color: #777;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

.hc-header-submenu {
  font-size: 15px;
  padding-top: 10px;
}

@media (min-width: 768px) {
  .hc-header-submenu > ul {
    padding-left: 15px;
  }
}
