body {
  width: 100%;
  font-family: "Helvetica", sans-serif;
  font-size: 12px;
  font-weight: 300;
  /* color: #777; */
  line-height: 1.6;
  background-color: #fafafa;
  padding-top: 70px;
}

img {
  max-width: 100%;
}

a {
  /*color: #444;*/
  text-decoration: none;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

a:hover {
  color: #00aeff;
  text-decoration: none;
}

h1 {
  font-size: 42px;
  font-family: "Helvetica", sans-serif;
}

h2 {
  font-size: 30px;
  font-family: "Helvetica", sans-serif;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 17px;
}

h1,
h2,
h3,
h4 {
  color: #444;
  font-weight: normal;
  line-height: 1.2;
  margin: 5px 0 5px 0;
}

.uppercase {
  text-transform: uppercase;
}

.width640 {
  width: 100%;
  max-width: 640px !important;
}

.width321 {
  width: 100%;
  max-width: 321px !important;
}

/* BOOTSTRAP OVERRIDES */
.navbar-default {
  background-color: white;
  border-bottom: 1px solid #eeeeee;
}

.header_menu {
  padding: 5px;
  font-size: 17px;
  font-weight: bold !important;
}

.header_menu li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 3px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
}

.menu-item-profile {
  padding: 10px;
}

img.lazy {
  width: 100%;
  /*max-height: 400px;*/
  /* min-height: 180px; */ /* this causes scaling problems */
  display: block;
  /* optional way, set loading as background */
  background-image: url("/img/loader-pacman.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.navbar .navbar-form {
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.search-results-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  background-color: #f9f9f9;
}

.search-results-wrapper > .message {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  color: #868686;
}

.search-results-wrapper > .dropdown-menu {
  position: static;
  float: none;
  display: block;
  min-width: 250px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

/* end header */
.header-logo {
  width: 134px;
}

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pointer {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.padding-top {
  padding-top: 5px;
}

.block-center {
  margin: 0 auto;
}

.img-thumbnail-avatar-normal {
  height: 100px;
  width: 100px;
}

.post-content {
  width: 100%;
}
.img-thumbnail-avatar-small {
  height: 45px;
  width: 45px;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.img-thumbnail-avatar-smallest {
  height: 22px;
  width: 22px;
}

.hashtag {
  padding: 2px;
  font-weight: bold;
  font-size: 12px;
}

.hashtag-big {
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
}

.selected {
  font-weight: bold;
}

.cursor-pointer {
  cursor: pointer;
}

.horiontal-list li {
  display: inline;
  list-style-type: none;
  width: 100%;
  padding: 15px;
}

.text-center {
  text-align: center;
}

/* DROPZONE */
.dz-message-style {
  border-radius: 9px 9px 9px 9px;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border: 2px dashed #000000;
  height: 200px;
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dz-message-text-style {
  text-align: center;
}

.btn-outline {
  margin-top: 40px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 2px;
  background-color: transparent;
  width: 250px;
  font-weight: 300;
}
.btn-outline:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.05);
}

.fill-screen img {
  width: 100%;
}

.textarea-bio {
  margin-top: 10px;
  width: 100%;
  resize: none;
  overflow: auto;
  border: none;
  background-color: transparent;
  overflow-y: hidden;
}

@media (max-width: 767px) {
  h1 {
    font-size: 34px;
  }

  .text-center-sm {
    text-align: center;
  }

  textarea {
    resize: vertical;
  }

  div.inline {
    float: left;
  }

  .rate-btn {
    font-size: 24px;
  }
  .navbar .navbar-form {
    width: 200px;
    padding-left: 10px;
    padding-right: 0;
  }
  body {
    padding-top: 0px;
  }
}

@media (min-width: 768px) {
  .navbar .navbar-form {
    width: 300px;
  }

  .feed-hashtag {
    font-size: 8px;
  }
}

.hashtag {
  color: #444;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

.notification-badge-button {
  color: white;
  display: inline-block; /* Inline elements with width and height. TL;DR they make the icon buttons stack from left-to-right instead of top-to-bottom */
  position: relative; /* All 'absolute'ly positioned elements are relative to this one */
  padding: 2px 5px; /* Add some padding so it looks nice */
}

.notification-badge {
  background-color: #fa3e3e;
  border-radius: 2px;
  color: white;

  padding: 1px 3px;
  font-size: 10px;

  position: absolute; /* Position the badge within the relatively positioned button */
  top: 0;
  right: 0;
}

@media (max-width: 900px) {
  .navbar-nav > li > a {
    line-height: 10px;
  }
}

#profile-badge {
  margin-top: 5px;
  height: 40px;
  line-height: 28px;
  padding: 10px 16px;
  border-radius: 6px;
  background-color: white;
  font-size: 10px;
  padding: 6px 12px;
  text-align: justify;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid buttonface;
}

#profile-badge-thumbnail {
  float: left;
}

#profile-badge-details {
  float: right;
  line-height: 14px;
  margin-left: 5px;
}

#profile-badge-mobile {
  position: relative;
  float: right;
  padding: 7px;
  border: 1px solid buttonface;
  border-radius: 4px;
  margin-top: 8px;
  margin-right: 5px;
}

.fa-50 i.fa {
  font-size: 50px;
}

.list-post-actions > li {
  height: 30px;
  float: left;
  line-height: 30px;
}