<header>
  <nav class="navbar navbar-light navbar-expand">
    <a class="navbar-brand" href="/">
      <img height="34" src="https://honest.cash/img/honest-logo-2.png" />
    </a>
    <div class="navbar-nav">
      <div class="nav-item">
        <!--Post Details on Edit-->
        <!--<app-partial-post-details></app-partial-post-details>-->
      </div>
    </div>
    <div *ngIf="user" id="navbar-menu" class="collapse navbar-collapse float-xs-none">
      <div class="navbar-nav ml-auto">
        <app-header-profile-menu [user]="user"></app-header-profile-menu>
      </div>
    </div>
  </nav>
</header>
