<div *ngIf="_hashtags" class="form-row">
  <div class="col">
    <div class="form-group">
      <label for="userPostHashtags" class="text-uppercase"><b>Tags</b></label>
      <tag-input
        *ngIf="isPlatformBrowser"
        theme="hc-theme"
        id="userPostHashtags"
        name="userPostHashtags"
        #userPostHashtags="ngModel"
        [(ngModel)]="_hashtags"
        (ngModelChange)="onTagChange($event)"
        [separatorKeyCodes]="[32, 188]"
        [maxItems]="6"
        [addOnBlur]="true"
        [identifyBy]="userPostHashtagsKey"
        [displayBy]="userPostHashtagsKey"
        [placeholder]="'You can add up to 6 tags'"
        ngDefaultControl
      ></tag-input>
      <small id="tagsHelpInline" class="text-muted">
        Tags can be submitted by pressing enter
      </small>
    </div>
  </div>
</div>
