:host {
  width: 700px;
  display: block;
  margin: 0 auto;
}

h1, .story-title {
  font-size: 40px;
}

h2, .story-description {
  font-size: 30px;
}

h3 {
  font-size: 23.4px;
}

h4 {
  font-size: 20px;

}

h5 {
  font-size: 16.6px;
}

h6 {
  font-size: 13.4px;
}

p {
  font-size: 20px;
}

blockquote {
  font-size: 30px;
}

ul, ol, li {
  font-size: 20px;
}

.story-body {
  font-size: 20px;
}

:host ::ng-deep .story-body img {
  max-width: 100%;
  width: 100%;
}
