<app-welcome-heading
  *ngIf="!(authState | async).newPasswordRequested"
  title="Forgot your password? No worries."
  description="Enter your e-mail address below to reset"
></app-welcome-heading>
<div *ngIf="!(authState | async).newPasswordRequested" class="card-body">
  <form name="form" class="needs-validation" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit(f)" novalidate>
    <div class="input-group form-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><fa-icon [icon]="['far', 'envelope']"></fa-icon></span>
      </div>
      <input
        required
        name="email"
        #email="ngModel"
        [ngModel]="user.email"
        [ngClass]="{ 'is-invalid': f.submitted && email.invalid, 'is-valid': f.submitted && email.valid }"
        class="form-control"
        type="text"
        placeholder="E-Mail"
        email
      >
      <div
        class="invalid-feedback"
        *ngIf="f.submitted && email.invalid"
      >
        <span
          *ngIf="email.errors.required"
        >
          E-mail is required.
        </span>
        <span
          *ngIf="email.errors.email"
        >
          E-mail must be a valid e-mail address.
        </span>
      </div>
    </div>
    <div *ngIf="errorMessage" class="card errors mb-2">
      <div class="card-body text-danger">{{errorMessage}}</div>
    </div>
    <div class="form-group">
      <app-welcome-loading-submit-button
        text="Get Reset Link"
        loadingText="Getting Reset Link"
        [isLoading]="isLoading"
        btnClass="btn-light"
      ></app-welcome-loading-submit-button>
    </div>
  </form>
</div>
<div
  *ngIf="(authState | async).newPasswordRequested"
  class="card-body"
>
  <div>Instructions on how to reset your password were sent to your email.</div>
</div>
<app-welcome-card-footer
  anchor="Back to sign in"
  to="login"
></app-welcome-card-footer>
