<div class="row justify-content-between mb-2" *ngIf="comments !== undefined">
   <div class="col">
     <h5 class="font-weight-bold text-uppercase">Comments ({{comments.length}})</h5>
   </div>
  <div class="col text-right">
    <small>sort by&nbsp;</small>
    <button class="btn btn-sm p-0 btn-link text-dark" [ngClass]="{'font-weight-bold': commentSortOrder === 'upvoteCount'}" (click)="onCommentSortClicked('upvoteCount')"># of upvotes</button>
    /
    <button class="btn btn-sm p-0 btn-link text-dark" [ngClass]="{'font-weight-bold': commentSortOrder === 'createdAt'}" (click)="onCommentSortClicked('createdAt')">chronologically</button>
  </div>
 </div>
<div class="row mb-4" *ngIf="!isLoading && shouldShowCommentEditorPlaceholder">
  <div class="col" id="comments-placeholder__wrapper">
    <div id="comments-placeholder" class="bg-light text-center py-3">
      <button class="btn btn-link btn-sm" (click)="onCommentClicked()">
        <span *ngIf="!comments || (comments && !comments.length)">No one commented yet. Be the first to comment.</span>
        <span *ngIf="comments && comments.length">Write a comment and join the conversation.</span>
      </button>
    </div>
  </div>
</div>
<div class="row mb-3" #editorContainerElement *ngIf="shouldShowCommentEditor">
  <story-comment-editor [commentParent]="masterStory"></story-comment-editor>
</div>
 <div class="row mb-4" *ngIf="!isLoading && comments && comments.length">
     <story-comment-card [nestingLevel]="0" [isSubComment]="false" *ngFor="let comment of comments | orderBy: commentSortOrder: true" [comment]="comment"></story-comment-card>
 </div>
<div *ngIf="isLoading" class="row">
  <div class="col text-center">
    <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon> Loading comments...
  </div>
</div>
