<header id="blog-intro" class="intro-block bg-color3">
	<div class="container">
		<!-- AUTHOR -->
		<ul class="list-unstyled list-inline">
			<!-- AUTHOR IMAGE -->
			<li>
				<a ui-sref="vicigo.profile({profileId: post.author_id})">
					<img ng-if="post.imageUrl" fallback-src="{{'/img/avatar.png'}}" ng-src="{{post.user.imageUrl}}" alt="{{post.user.username}}" class="img-circle img-thumbnail-avatar-small">
					<img ng-if="!post.imageUrl" src="/img/avatar.png" alt="{{post.user.username}}" class="img-circle img-thumbnail-avatar-small">
				</a>
			</li>
			<!-- END AUTHOR IMAGE -->

			<!-- AUTHOR REFERENCES -->
			<li style="vertical-align:middle">
				<strong style="margin-top:50px;"><a ui-sref="vicigo.profile({profileId: post.user.id})">{{::post.user.username}}</a></strong>

				<br />

				<small class="text-muted">
					<span ng-if="!post.post_publish_timestamp_formatted">{{::post.createdAt}}</span> 
					<span ng-if="post.readTime">{{::post.readTime}}</span> 
          		</small>
			</li>
			<!-- END AUTHOR REFERENCES -->
		</ul>
	</div>

	<div class="container post-title-container">
		<h1>
			<strong>{{post.title}}</strong>
      		<small ng-if="user.id==post.user.id">
				 <a ng-href="/edit/{{post.id}}"  target="_self">Edit</a>
			</small>	
      	</h1>
	</div>

	<div class="row" ng-if="post.imageUrl">
		<div class="fill-screen">
			<lazy-img style="max-height:640px;max-width:640px;" class="postMainPicture" ng-src="{{trustSrc(post.imageUrl)}}">
		</div>
	</div>
</header>
