<app-welcome-heading
  title="Verify your e-mail"
  description="and start earning BitCoin by:"
></app-welcome-heading>
<div class="card-body">
  <ul class="mb-8">
    <li>writing amazing content and letting others upvote it</li>
    <li>generating and participating in discussions by writing comments. Others may upvote it!</li>
    <li>creating premium stories that require others to pay BitCoin to unlock them</li>
  </ul>
  <p>Join our <a class="no-underline cursor-pointer text-hc-blue hover:text-hc-blue-dark" href="https://t.me/honest_cash" target="_blank">Telegram</a> or follow us on <a class="no-underline cursor-pointer text-hc-blue hover:text-hc-blue-dark" href="https://twitter.com/honest_cash">Twitter</a> for the most recent updates!</p>
  <a
    [routerLink]="['/']"
    class="btn btn-light btn-block font-weight-bold text-uppercase"
  >Explore Honest</a
  >
</div>
