
<footer class="site-section site-content themed-background-muted" ng-if="welcome">
      <div class="text-center">
        <a href="/" target="_self">
          <img src="/img/honest-long-logo.png"  style="padding:5px;" alt="Honest Logo" height="50px">
        </a>
      </div>
      <div class="text-center push">
          <ul class="list-unstyled list-inline">
            <li>
                <a href="/login" target="_self"><h6>Login</h6></a>
            </li>
            <li>
              <a href="https://honest.cash/honest_cash/about-honest-cash" target="_self"><h6>About</h6></a>
            </li>
            <li>
              <a href="https://honest.cash/honest_cash/frequently-asked-questions" target="_self"><h6>FAQ</h6></a>
            </li>
            <li>
              <a href="https://honest.cash/honest_cash/honest-cash-transparency-report-and-warrant-canary-129" target="_self"><h6>Transparency</h6></a>
            </li>
            <li>
              <a href="https://honest.cash/honest_cash/honest-cash-terms-of-service-124" target="_self"><h6>Terms</h6></a>
            </li>
            <li>
              <a href="https://honest.cash/honest_cash/honestcash-privacy-policy" target="_self"><h6>Privacy</h6></a>
            </li>
          </ul>
      </div>

      <div class="text-center" style="margin-bottom:25px;">
        <a href="https://github.com/honest-cash" target="_self"><h6>&copy;<span>2019</span> honest.cash</h6></a>
      </div>
	</footer>  