
<footer class="site-section site-content themed-background-muted">
      <div class="text-center push">
          <ul class="list-unstyled list-inline">
            <li>
              <a href="/about" target="_self"><h6>About</h6></a>
            </li>
            <li>
              <a href="/frequently-asked-questions" target="_self"><h6>FAQ</h6></a>
            </li>
            <li>
              <a href="/transparency" target="_self"><h6>Transparency</h6></a>
            </li>
            <li>
              <a href="/terms-of-service" target="_self"><h6>Terms</h6></a>
            </li>
            <li>
              <a href="/privacy-policy" target="_self"><h6>Privacy</h6></a>
            </li>
          </ul>
      </div>

      <div class="text-center" style="margin-bottom:25px;">
        <a href="https://github.com/honest-cash" target="_self"><h6>&copy;<span>2019</span> honest.cash</h6></a>
      </div>
  </footer>
