<auth-heading
  title="Designed for writers, creatives and thinkers."
  title2="Powered by Bitcoin."
  description="Honest is reinventing how ideas are shared"
>
</auth-heading>
<div class="card-body">
  <a class="btn btn-dark btn-block font-weight-bold text-uppercase" [routerLink]="['/about']">
    Learn About Honest Cash
  </a>
  <a class="btn btn-dark btn-block font-weight-bold text-uppercase" [routerLink]="['/signup']">
    Get Started
  </a>
  <a class="btn btn-outline-dark btn-block font-weight-bold text-uppercase" [routerLink]="['/login']">
    Sign In
  </a>
</div>
