<div class="container-fluid">
	<div infinite-scroll="loadMore()" infinite-scroll-distance="1">
		<div class="row">
			<div ng-show="checkRecoveryBackup()" class="alert alert-warning" role="alert">
				Please backup your recovery phrase (mnemonic) of your wallet.

				Once you back up, go to the <a href="/wallet" target="_blank">wallet page, Wallet keys tab</a> to hide this reminder.
			</div>
			<div class="feed-container" ng-repeat="feed in feeds">
        		<feed user="user" feed="feed"></feed>
			</div>

			<div style='clear: both;'></div>
		</div>

		<div style="margin-top: 10px;" class="text-center" ng-show='isLoading'>
      <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
    </div>
	</div>
</div>
