<div *ngIf="story" class="mb-5 story-preview__wrapper">
  <story-title [story]="story"></story-title>
  <story-details [story]="story"></story-details>
  <story-body *ngIf="story.paidSectionCost > 0" [story]="story"></story-body>
  <story-locked-body *ngIf="!story.paidSectionCost || (story.paidSectionCost && story.paidSectionCost === 0)" [story]="story"></story-locked-body>
  <story-author [story]="story"></story-author>
  <hr>
  <story-upvotes [upvotes]="upvotes" [story]="story"></story-upvotes>
  <story-unlocks *ngIf="story.paidSectionCost > 0" [unlocks]="unlocks" [story]="story"></story-unlocks>
  <story-comments [comments]="comments" [story]="story"></story-comments>
</div>
