<div class="card w-100">
  <div style="padding: 1.25rem;">
    <div class="row mb-2">
      <div class="col-1 pr-0">
        <shared-avatar [src]="comment.user && comment.user.imageUrl" large="true"></shared-avatar>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <a class="font-weight-bold">{{comment.user.username}}</a><br>
            <span class="text-muted">
                   {{comment.updatedAt | date:'MMM d, yy'}}
                 </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="comment-body" [innerHTML]="comment.body"></div>
      </div>
    </div>

  </div>
  <div class="row" style="padding: 0rem 1.25rem 1.25rem 1.25rem;">
    <main-story-actions></main-story-actions>
  </div>
  <main-story-comment-card *ngFor="let subComment of comment.userPosts" [comment]="subComment"></main-story-comment-card>
</div>
