<ng-template #paywallPopContent>For more information about pay-to-read sections, please refer to <a
  href="https://honest.cash/honest_cash/earn-more-money-for-your-content-paywalls-3552" target="_blank">Paywalls
  Guide</a>.
</ng-template>
<ng-template #paywallPopTitle>About Pay-to-read Sections</ng-template>
<div class="modal-header">
  <h5 class="modal-title col text-uppercase text-center">Publish Story</h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form name="form" class="p-4 needs-validation" #f="ngForm"
      (ngSubmit)="(f.form.valid && ((story.hasPaidSection && story.paidSectionCost > 0 && story.paidSectionLinebreak > 0) || !story.hasPaidSection)) && onSubmit()"
      novalidate>
  <div class="modal-body">
    <div class="form-row">
      <div class="col">
        <div class="form-group">
          <label for="title" class="text-uppercase"><b>Title</b></label>
          <input
            required
            id="title"
            name="title"
            #title="ngModel"
            [ngModel]="story.title"
            (ngModelChange)="onTitleChange($event)"
            [ngClass]="{ 'is-invalid': f.submitted && title.invalid, 'is-valid': f.submitted && title.valid }"
            class="form-control"
            type="text"
            placeholder="Title of your story"
          >
          <div
            class="invalid-feedback"
            *ngIf="f.submitted && title.invalid"
          >
          <span
            *ngIf="title.errors.required"
          >
            Title is required.
          </span>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-group">
          <label for="userPostHashtags" class="text-uppercase"><b>Tags</b></label>
          <tag-input
            theme="hc-theme"
            id="userPostHashtags"
            name="userPostHashtags"
            #userPostHashtags="ngModel"
            [(ngModel)]="_hashtags"
            (ngModelChange)="onTagChange($event)"
            [separatorKeyCodes]="[32, 188]"
            [maxItems]="6"
            [addOnBlur]="true"
            [identifyBy]="'hashtag'"
            [displayBy]="'hashtag'"
            [placeholder]="'You can add up to 5 tags'"
          ></tag-input>
          <small id="tagsHelpInline" class="text-muted">
            Tags can be submitted by pressing enter
          </small>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col d-flex justify-content-center align-items-center">
        <div class="btn-block btn-group-toggle">
          <label class="btn-outline-dark" ngbButtonLabel placement="right" [ngbPopover]="paywallPopContent"
                 [popoverTitle]="paywallPopTitle" triggers="mouseenter" [autoClose]="true">
            <input type="checkbox" ngbButton id="hasPaidSection" #hasPaidSection="ngModel" name="hasPaidSection"
                   #hasPaidSection="ngModel" [(ngModel)]="story.hasPaidSection"
                   (ngModelChange)="onChangeHasPaidSection()"
            > I have a pay-to-read section in my story
          </label>
        </div>
      </div>
    </div>
    <app-editor-publish-modal-paid-section-selection [form]="f"
                                                     [hidden]="!story.hasPaidSection"></app-editor-publish-modal-paid-section-selection>
  </div>
  <div class="modal-footer px-0">
    <div class="col text-left">
      <button type="button" class="btn btn-outline-dark" (click)="onDismiss()"
              [disabled]="saveStatus === EDITOR_SAVE_STATUS.Publishing">Close
        <fa-icon [icon]="['fas', 'window-close']"></fa-icon>
      </button>
    </div>
    <div class="col text-right">
      <button type="submit" class="btn btn-success" [disabled]="saveStatus === EDITOR_SAVE_STATUS.Publishing">Publish
        <fa-icon *ngIf="saveStatus !== EDITOR_SAVE_STATUS.Publishing" [icon]="['far', 'paper-plane']"></fa-icon>
        <fa-icon *ngIf="saveStatus === EDITOR_SAVE_STATUS.Publishing" [icon]="['fas', 'spinner']" spin="spin"></fa-icon>
      </button>
    </div>
  </div>
</form>
