<div
  class="
    flex
    flex-wrap
    items-center
    justify-center
    xs:w-full
    sm:w-full
    md:w-full
    lg:w-1/2
    xl:w-1/2
    xxl:w-1/3
    xxxl:w-1/3
    xs:m-4
    sm:m-4
    md:m-4
    lg:m-4
    mx-auto
    xs:px-4
    text-center
    mb-8
    bg-white
    opacity-80
    border
    border-grey
    border-solid
    rounded
    shadow-lg
    p-8
    text-black
  "
>
  <app-welcome-heading
  black
  title="Verify your e-mail"
  description="and start earning BitCoin by:"
  ></app-welcome-heading>
  <ul class="mb-8">
    <li>writing amazing content and letting others upvote it</li>
    <li>generating and participating in discussions by writing comments. Others may upvote it!</li>
    <li>creating premium stories that require others to pay BitCoin to unlock them</li>
  </ul>
  <p>Join our <a class="no-underline cursor-pointer text-hc-blue hover:text-hc-blue-dark" href="https://t.me/honest_cash" target="_blank">Telegram</a> or follow us on <a class="no-underline cursor-pointer text-hc-blue hover:text-hc-blue-dark" href="https://twitter.com/honest_cash">Twitter</a> for the most recent updates!</p>
  <a
    [routerLink]="['/']"
    class="w-full text-white hover:text-black no-underline hover:no-underline bg-black hover:bg-transparent font-semibold p-4 rounded border border-black border-solid mt-4"
    >Explore Honest</a
  >
</div>
