<div [hidden]="!story.hasPaidSection && saveStatus === EDITOR_SAVE_STATUS.NotInitialized" class="form-row mt-3">
  <div class="col">
    <div class="text-uppercase"><b>Pay-to-read Section Cost</b></div>
    <div>
      <small class="text-muted">Choose how much readers pay in order to read your paid section.</small>
    </div>
  </div>
  <div class="w-100"></div>
  <div class="col-4">
    <label for="elPaidSectionCostInBch">
      <small><b>Cost in BCH:</b></small>
    </label>
    <input
      name="elPaidSectionCostInBch"
      #elPaidSectionCostInBch="ngModel"
      [(ngModel)]="story.paidSectionCost"
      (ngModelChange)="onChangePaidSectionCost()"
      [step]="PAID_SECTION_PRICE_SLIDER_SETTINGS.STEP"
      [min]="PAID_SECTION_PRICE_SLIDER_SETTINGS.MIN"
      [max]="PAID_SECTION_PRICE_SLIDER_SETTINGS.MAX"
      [value]="story.paidSectionCost"
      required
      id="elPaidSectionCostInBch"
      type="range"
      class="form-control-range">
  </div>
  <div id="elPaidSectionCostInBchValue" class="col-1">
    <span class="text-danger">{{story.paidSectionCost}}</span>
  </div>
</div>
<div [hidden]="!story.hasPaidSection && saveStatus === EDITOR_SAVE_STATUS.NotInitialized" class="form-row mt-3">
  <div class="col">
    <div class="text-uppercase"><b>Pay-to-read Section</b></div>
    <div>
      <small
        [ngClass]="{ 'text-danger': form.submitted && (!paidSectionLineBreakTouched && story.bodyJSON.length > 2), 'text-muted': !form.submitted }"
      >Choose where your paid section starts by moving the up and down arrows. The red line indicates where the free
        section ends and the paid section starts.
      </small>
    </div>
  </div>
  <div class="w-100 mb-2"></div>
  <div class="col">
    <div class="row">
      <div class="col-10">
        <article
          #paidSectionElementsWrapperElement
          class="editor-publish-modal__paid-section hide-scrollbar p-3"
          [ngClass]="{ 'invalid': form.submitted && (!paidSectionLineBreakTouched && story.bodyJSON.length > 2) }">
          <div
            #paidSectionElements
            *ngFor="let block of this.story.bodyJSON; let index = index;"
            class="paid-section__line-wrapper"
            [ngClass]="{'paid-section__locked_section-top': index === story.paidSectionLinebreak,
              'paid-section__locked_section-middle': index > story.paidSectionLinebreak && index < paidSectionLinebreakEnd,
              'paid-section__locked_section-bottom': index === paidSectionLinebreakEnd}"
            [innerHTML]="convertBlockToHtml(block)">
          </div>
        </article>
      </div>
      <div class="col-2 d-flex flex-column">
        <div class="col d-flex align-items-end pb-2">
          <button
            type="button"
            class="btn btn-block btn-outline-dark"
            (click)="onSwitchLinebreak(LINEBREAK_ACTION.MoveUp)"
            [disabled]="story.paidSectionLinebreak === 0"
          >
            <fa-icon [icon]="['fas', 'chevron-up']"></fa-icon>
          </button>
        </div>
        <div class="col d-flex align-items-start pt-2">
          <button
            type="button"
            class="btn btn-block btn-outline-dark"
            (click)="onSwitchLinebreak(LINEBREAK_ACTION.MoveDown)"
            [disabled]="story.paidSectionLinebreak === paidSectionLinebreakEnd"
          >
            <fa-icon [icon]="['fas', 'chevron-down']"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
