:host {
  #elPaidSectionCostInBchValue {
    display: flex;
    align-items: flex-end;
  }

  ::ng-deep {
    .ng2-tags-container {
      border: 1px solid #ced4da;
      border-radius: .25rem;
      padding-left: 5px;
      padding-right: 5px;
    }

    .ng2-tag-input.hc-theme {
      border: none !important;
    }

    tag-input-form {
      width: 100%;
    }

    tag {
      border-radius: .25rem !important;
    }

    .tag__text,
    .ng2-tag-input__text-input {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
      font-size: 1rem !important;
    }

    .ng2-tag-input__text-input {
      display: block;
      width: 100%;
      height: calc(1.5em + .75rem + 2px);
      padding: .375rem .75rem;
      font-size: 1rem !important;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    }

    .ng2-tags-container:focus-within {
      color: #495057;
      background-color: #fff;
      border-color: #80bdff;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
    }

    .ng2-tag-input__text-input {
      width: 100%;
      background-color: transparent;
    }

    .editor-publish-modal__paid-section {
      /*  the em specified below for html elements
          helps resize them all by percentage
          relative to this font-size
       */
      font-size: 12px;

      padding: 10px;

      .paid-section__line-wrapper {
        padding-left: 10px;
        padding-right: 10px;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-weight: normal;
        margin: 0;
        padding-bottom: 0.5rem;
      }

      /*
          Font sizes are intentionally specified as em
          so that they can be relatively and proportionally
          be resized to smaller size to fit in paid section window
       */

      h1 {
        font-size: 2.5em;
      }

      h2 {
        font-size: 1.875em;
      }

      h3 {
        font-size: 1.5em;
      }

      h5 {
        font-size: 1em;
      }

      h6 {
        font-size: .8125em;
      }

      blockquote {
        font-size: 1.875em;
      }

      ul,
      ol,
      li,
      p,
      h4 {
        font-size: 1.2em;
      }

      figcaption {
        font-size: 1em;
      }

      p {
        margin: 0;
        padding-bottom: 1rem;
      }


      figure {
        margin: 0px;
        padding-bottom: 1rem;
      }

      figure > img {
        max-width: 100%;
      }
    }

    .paid-section__dashed-underline {
      border-bottom: 2px dashed #dc3545;
      margin-bottom: 5px;
    }

    .paid-section__locked_section-top {
      border-top: 1px solid green;
      border-right: 1px solid green;
      border-left: 1px solid green;
    }

    .paid-section__locked_section-middle {
      border-left: 1px solid green;
      border-right: 1px solid green;
    }

    .paid-section__locked_section-bottom {
      border-bottom: 1px solid green;
      border-right: 1px solid green;
      border-left: 1px solid green;
    }

  }
}

.hide-scrollbar::-webkit-scrollbar {
  /* Hide Scroll */
  height: 0 !important; /* Webkit */
  width: 0 !important; /* Webkit */
}

.hide-scrollbar {
  /* Hide Scroll */
  -ms-overflow-style: none; /* IE */
  overflow: -moz-scrollbars-none; /* Firefox */
  scrollbar-width: none; /* Firefox */
}

.editor-publish-modal__paid-section {
  min-height: 100px;
  max-height: 200px;
  overflow-y: scroll;
  border: 1px solid #c5c5c5;
  border-radius: .25rem;
}

.editor-publish-modal__paid-section.invalid {
  border: 1px solid #dc3545;
}

